<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>

	<th:block th:replace="~{fragments/header_link :: header_link}"/>
	<th:block th:replace="~{fragments/datatables_header_link :: datatables_header_link}"/>
	<th:block th:replace="~{fragments/advanced_forms_header_link :: advanced_forms_header_link}"/>
	
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <th:block th:replace="~{fragments/preloader :: preloader}"/>
	
  <!-- Navbar -->
	<th:block th:replace="~{fragments/navi :: navi}"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="~{fragments/sidebar :: sidebar}"/>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" style="font-weight: bold;">역할 권한 설정</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Settings</a></li>
              <li class="breadcrumb-item active">Role</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <h6 style="color: gray; margin-left: 50px; margin-bottom: 20px;">역할이 보유한 문서 관리 권한을 설정합니다.</h6>
    <section class="content">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-5">
    				<div class="card">
					    <div class="card-header">
					        <h3 class="card-title" style="font-weight: bold;">역할 추가</h3>
					        <div class="card-tools">
					            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					                <i class="fas fa-minus"></i>
					            </button>
					        </div>
					    </div>
					    <div class="card-body">
					    	<form>
							    <div class="form-group">
					                <label>역할명</label>
					                <input type="text" class="form-control" placeholder="Enter ...">
					            </div>
								<div class="form-group">
					                <label>설명</label>
					                <textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
					            </div>
							    <div class="row">
							        <div class="col">
							            <div class="form-group">
							                <div class="form-check">
							                    <input class="form-check-input" type="checkbox">
							                    <label class="form-check-label">Checkbox</label>
							                </div>
							                <div class="form-check">
							                    <input class="form-check-input" type="checkbox" checked>
							                    <label class="form-check-label">Checkbox checked</label>
							                </div>
							                <div class="form-check">
							                    <input class="form-check-input" type="checkbox" disabled>
							                    <label class="form-check-label">Checkbox disabled</label>
							                </div>
							            </div>
							        </div> 
								</div>
								<input type="submit" value="Save Changes" class="btn btn-success float-right" style="height: 38px">
							</form>
					    </div>
					</div>
    			</div>
    			<div class="col-md-7">
    				<div class="card">
					    <div class="card-header">
					        <h3 class="card-title" style="font-weight: bold;">역할 권한 수정</h3>
					        <div class="card-tools">
					            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					                <i class="fas fa-minus"></i>
					            </button>
					        </div>
					    </div>
					    <div class="card-body">
					    	<table id="example2" class="table table-bordered table-striped">
					            <thead>
					                <tr>
					                    <th><input type='checkbox' name='chkAll' onclick='chkChange(this);'></th>
					                    <th>역할명</th>
					                    <th>보유 권한</th>
					                </tr>
					            </thead>
					            <tbody>
					                <tr>
					                    <td><input type='checkbox' name='chkProc' value=''/> </td>
					                    <td>Draft Writer</td>
					                    <td>
						                    <div class="form-group">
												<label>Select Multiple</label>
												<select class="select2 form-control" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
													<option>option 1</option>
													<option>option 2</option>
													<option>option 3</option>
													<option>option 4</option>
													<option>option 5</option>
												</select>
											</div>
										</td>
					                </tr>
					                <tr>
					                    <td><input type='checkbox' name='chkProc' value=''/> </td>
					                    <td>Editor</td>
					                    <td>
						                    <div class="form-group">
												<label>Select Multiple</label>
												<select class="select2 form-control" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
													<option>option 1</option>
													<option>option 2</option>
													<option>option 3</option>
													<option>option 4</option>
													<option>option 5</option>
												</select>
											</div>
										</td>
					                </tr>
					            </tbody>    
					        </table>
					        <input type="submit" value="Save Changes" class="btn btn-success float-right" style="height: 38px; margin-top: 20px;">
					    </div>
					</div>
    			</div>
    		</div>
    	</div>

  	</section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <th:block th:replace="~{fragments/footer :: footer}"/>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
	
  <th:block th:replace="~{fragments/footer_link :: footer_link}"/>
  <th:block th:replace="~{fragments/datatables_footer_link :: datatables_footer_link}"/>
  <th:block th:replace="~{fragments/advanced_forms_footer_link :: advanced_forms_footer_link}"/>

</body>
</html>