<th:block th:fragment="advanced_forms_header_link">
	

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<link rel="stylesheet" href="/setting/admin/plugins/fontawesome-free/css/all.min.css">

<link rel="stylesheet" href="/setting/admin/plugins/daterangepicker/daterangepicker.css">

<link rel="stylesheet" href="/setting/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

<link rel="stylesheet" href="/setting/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">

<link rel="stylesheet" href="/setting/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<link rel="stylesheet" href="/setting/admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/setting/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<link rel="stylesheet" href="/setting/admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">

<link rel="stylesheet" href="/setting/admin/plugins/bs-stepper/css/bs-stepper.min.css">

<link rel="stylesheet" href="/setting/admin/plugins/dropzone/min/dropzone.min.css">

<link rel="stylesheet" href="/setting/admin/dist/css/adminlte.min.css?v=3.2.0">
 
</th:block>
  