<th:block th:fragment="datatables_header_link">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	
	<link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
	
	<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
	
	<link rel="stylesheet" href="/admin/dist/css/adminlte.min.css?v=3.2.0">

</th:block>
  