<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmssetting.model.authority.AuthorityDAO">

	<!-- deprecated -->
	<!-- authority_idx가 가리키는 권한 조회 -->
	<select id="selectByAuthorityIdx" parameterType="int" resultType="Authority">
		select * from authority where authority_idx=#{authorityIdx}
	</select>
	<!-- deprecated -->
	
	<!-- authority_code가 가리키는 부서 조회 -->
	<select id="selectByAuthorityCode" parameterType="int" resultType="Authority">
		select * from authority where authority_code=#{authorityCode}
	</select>
	
	<!-- 모든 authority 정보 조회 -->
	<select id="selectAll" resultType="Authority">
		select * from authority
	</select>
	
</mapper>