<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>

	<th:block th:replace="~{fragments/header_link :: header_link}"/>
	
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

	<!-- Preloader -->
	<th:block th:replace="~{fragments/preloader :: preloader}"/>
	
  <!-- Navbar -->
	<th:block th:replace="~{fragments/navi :: navi}"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
	<th:block th:replace="~{fragments/sidebar :: sidebar}"/>
  
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>즐겨찾기</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">즐겨찾기</a></li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>
	  <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title"></h3>

              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" id="searchFileInput" placeholder="Search File">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input type="button" class="btn btn-default btn-sm ml-1" value="필터" id="filterButton">
                </div>
                
                <!-- Select box hidden by default -->
				<div id="filterOptions" style="display:none;">
				    <label><input type="checkbox" name="option1" value="option1"> Option 1</label><br>
				    <label><input type="checkbox" name="option2" value="option2"> Option 2</label><br>
				    <label><input type="checkbox" name="option3" value="option3"> Option 3</label>
				  </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-controls">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="far fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-reply"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-share"></i>
                  </button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-sync-alt"></i>
                </button>
                <div class="float-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
              </div>
              
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <!-- 소제목 -->
                  <tr>
                    <th>
                      <div class="icheck-primary">
                        <input type="checkbox" value="" id="checkall">
                        <label for="checkall"></label>
                      </div>
                    </th>
                    <td class="mailbox-star"><a href="#"></a></th>
                    <th>제목</th>
                    <th>문서 버전</th>
                    <th>업데이트 날짜</th>
                    <th>상태</th>
                  </tr>
                  <!-- ./소제목 -->
                  <tbody>
                  <tr>
                    <td>
                      <div class="icheck-primary">
                        <input type="checkbox" value="" id="check1">
                        <label for="check1"></label>
                      </div>
                    </td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></td>
                    <td class="mailbox-subject"><a href="/document">튜토리얼</a></td>
                    <td class="mailbox-name">v2.1</td>
                    <td class="mailbox-date">2024.05.23 16:44</td>
                    <td class="mailbox-attachment">리뷰 중</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="icheck-primary">
                        <input type="checkbox" value="" id="check2">
                        <label for="check2"></label>
                      </div>
                    </td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star"></i></a></td>
                    <td class="mailbox-subject"><a href="/document">튜토리얼</a></td>
                    <td class="mailbox-name">v1.1</td>
                    <td class="mailbox-date">2024.05.21 16:44</td>
                    <td class="mailbox-attachment">배포</td>
                  </tr>
                 </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
           </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
  <!-- /.content-wrapper -->
  
	<th:block th:replace="~{fragments/footer :: footer}"/>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
	
	<th:block th:replace="~{fragments/footer_link :: footer_link}"/>
	
	<!-- 사이드바 디렉토리 관련 로직 -->
  	<th:block th:replace="~{elements/sidebar_script :: sidebar_script}"/>
  	<!-- /.사이드바 디렉토리 관련 로직 -->

<script>
$(function(){
	checkBoxAll();
	filterFile();
	searchFile();
  });
  
  function checkBoxAll(){
	  $("#checkall").click(function(){
	      if($("#checkall").prop("checked")) {
	        $("input[type=checkbox]").prop("checked",true);
	      } else {
	        $("input[type=checkbox]").prop("checked",false);
	      }
	    });
  }
	function filterFile(){
		$('#filterButton').click(function(){
			$('#filterOptions').toggle();
		});
	}
	  
	  function searchFile(){
		 $('#searchFileInput').on('keyup', function(){
			 var value = $(this).val().toLowerCase();
			 $("tbody tr").filter(function() {
			 	$(this).toggle($(this).find(".mailbox-subject").text().toLowerCase().indexOf(value) > -1)
			});
		});
	  }

  </script>
</body>
</html>