<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dashboard | 배포</title>

<!-- data-table css -->
<link rel="stylesheet"
	href="/file/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
	href="/file/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet"
	href="/file/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<th:block th:replace="~{fragments/header_link :: header_link}" />

<style>
button.show_list {
	border: 0;
	background-color: transparent;
	color: white;
	cursor: pointer;
}

button.show_list:hover {
	color: blue;
}

div#filter-card {
	font-weight: 500;
}

/* .filter-title {
	padding-left: 2rem;
} */
button#daterange-btn {
	display: inline-block;
	line-height: 22px;
}
/*
[class*=icheck-]>label,button#daterange-btn {
	vertical-align: middle;
} */
div.table-detail, span.table-detail {
	font-size: 0.9rem;
	color: gray;
}
</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Preloader -->
		<th:block th:replace="~{fragments/preloader :: preloader}" />

		<!-- Navbar -->
		<th:block th:replace="~{fragments/navi :: navi}" />
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<th:block th:replace="~{fragments/sidebar :: sidebar}" />

		<!-- /.sidebar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">배포 관리</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard</li>
								<li class="breadcrumb-item active">배포 관리</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
				
				<div class="row">
						<div class="col-md-12">
						<div class="alert alert-warning" role="alert">
							<h5>배포 안내</h5>
								<li>변경 사항이 없는 문서는 자동으로 배포됩니다.</li>
								<li>새롭게 생성된 문서는 리뷰가 완료되기 전까지 배포되지 않습니다.</li>
								<li>리뷰가 진행 중이거나 반려된 문서가 있으면 배포를 진행할 수 없습니다. 리뷰 완료 또는 반려 확인을 완료한 뒤에 배포를 진행해 주십시오.</li>
						</div>
							<!-- Card -->
							<div class="card mt-2" id="filter-card">
								<div class="card-body">
									<div class="row p-2">
									<!-- <div><button>프리뷰 보기(가능할 경우))</button></div> -->
									<label for="publish-version-name">배포판 이름</label> 
									<input class="form-control form-control-sm mb-2"
										id="publish-version-name" type="text" placeholder="배포판 이름">
									<label for="published-comment">배포 코멘트</label> 
									<input class="form-control form-control-sm mb-2"
										id="publish-comment" type="text" placeholder="배포 코멘트">
									</div>
									<div class="row">
										<button class="btn btn-danger w-100" id="btn-publish">배포하기</button>
									</div>
								</div>
								<!-- card-body end -->
							</div>
							<!-- Card End -->
						</div>
					</div>
					<h5>배포 대기 문서 확인</h5>
					<!-- Row -->
					<div class="row">
						<div class="col-sm-12">
							<div id="filtered-table_wrapper"
								class="dataTables_wrapper dt-bootstrap4">
								<table id="table-filtered"
									class="bg-white table table-hover table-bordered dataTable dtr-inline" width="100%">
									<thead>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Row End -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<th:block th:replace="~{fragments/footer :: footer}" />

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<th:block th:replace="~{fragments/footer_link :: footer_link}" />
	<th:block th:replace="~{elements/sidebar_script :: sidebar_script}" />
	<!-- /.사이드바 디렉토리 관련 로직 -->

	<!-- datatables js 파일 -->
	<script src="/file/admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/file/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="/file/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/file/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="/file/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/file/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="/file/admin/plugins/jszip/jszip.min.js"></script>
	<script src="/file/admin/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="/file/admin/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="/file/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="/file/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="/file/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	<script>
		let empIdx = 0;
		let roleName = null;
		
		function redirectPublishing() {
		    const token = localStorage.getItem('token');
		    $.ajax({
		        url: "/file/checkAuthority/admin/dashboard/publishing",
		        type: "get",
		        headers: {
		            "Authorization": "Bearer " + token
		        },
		        success: function(result) {
		        },
		        error: function(xhr, status, err) {
		            alert("권한이 없습니다.");
		           	location.href = "/file/dashboard/activity";
		        }
		    });
		}
		
		// 0623 추가: setting 마이크로서비스로 리다이렉트
		function redirectSetting(pageUrl) {
		    const token = localStorage.getItem('token');
		    $.ajax({
		        url: "/setting/checkAuthority" + pageUrl,
		        type: "get",
		        headers: {
		            "Authorization": "Bearer " + token
		        },
		        success: function(result) {
		            location.href = result.url;
		        },
		        error: function(xhr, status, err) {
		            alert("권한이 없습니다.");
		        }
		    });
		}
		
		// 0623 추가: 사이드바에 이용할 사용자 정보 가져오기
		function getUserInfo() {
	        const token = localStorage.getItem('token');
	        $.ajax({
	            url: "/setting/getUserInfo",
	            type: "get",
	            headers: {
	                "Authorization": "Bearer " + token
	            },
	            success: function(result) {
	                // 사용자 정보 설정
	                const userName = result.empName;
	                const userRole = result.roleName;
	                empIdx = parseInt(result.empIdx, 10);
	                roleName = result.roleName;
	                console.log("empIdx: "+empIdx);
	                
	                // 사용자 이름 업데이트
	                document.getElementById('user-name').textContent = userName;
	
	                // 사용자 역할에 따라 아이콘 업데이트
	                const userIcon = document.getElementById('user-icon');
	                if (userRole === 'Admin') {
	                    userIcon.innerHTML = '<i class="fas fa-solid fa-crown" style="color: #ffffff; position: relative; top: 4px;"></i>';
	                } else if (userRole === 'Draft Writer') {
	                    userIcon.innerHTML = '<i class="fas fa-solid fa-user" style="color: #ffffff; position: relative; top: 4px;"></i>';
	                }
	                
	                redirectPublishing();
	            },
	            error: function(xhr, status, err) {
	                alert("로그인을 진행해주세요");
	                location.href="/setting/loginForm"
	            }
	        });
	    }

		/* 배포 완료 문서 목록 가져오기 */
		function getWaitingList() {
			// url 쿼리 스트링 설정
			let url = "/file/admin/dashboard/publishing/waiting-list";
			
			// 데이터 테이블 적용
			$("#table-filtered").DataTable({
			 	language: {
						"decimal" : "",
						"emptyTable" : "데이터가 없습니다.",
						"info" : "_START_ - _END_ (총 _TOTAL_ 개)",
						"infoEmpty" : "0개",
						"infoFiltered" : "(전체 _MAX_ 개 중 검색결과)",
						"infoPostFix" : "",
						"thousands" : ",",
						"lengthMenu" : "_MENU_ 개씩 보기",
						"loadingRecords" : "로딩중...",
						"processing" : "처리중...",
						"search" : "검색 : ",
						"zeroRecords" : "검색된 데이터가 없습니다.",
						"paginate" : {
							"first" : "첫 페이지",
							"last" : "마지막 페이지",
							"next" : "다음",
							"previous" : "이전"
						},
						"aria" : {
							"sortAscending" : " :  오름차순 정렬",
							"sortDescending" : " :  내림차순 정렬"
						}
					},
				ordering: true,
				serverSide: false,
				autoWidth: true,
				responsive: true,
				destroy: true,
				columns: [
					{ data: "listIndex", title: "No.", width: '5%'},
					{ data: "document.folder.project.projectName", title: "프로젝트", width: '10%'},
					{ data: "versionLog.title", title: "제목", width: '40%'},
					{ data: "versionLog.version", title: "ver.", width: '5%'},
					{ data: "versionLog.comments", title: "버전 코멘트", width: '40%'}
				],
				ajax: {
					url: url,
					type: "GET",
					"dataSrc": function (result) {
						var data = result;
						for (let i = 0; i < data.length; i++) data[i].listIndex = i + 1; // 리스트번호 
						return data;
		            }, error: function(jqXHR, status, err) {
		            	alert("배포할 문서가 없거나 리뷰 중 / 반려 문서가 있습니다.");
					}
				}
			});
		}
		
		/* 문서 배포하기 */
		function publishDocument(publishedVersionName, comments) {
			$.ajax({
	            type: "POST",
	            url: "/file/admin/dashboard/publishing",
	            data: {
	            	'publishedVersionName' : publishedVersionName,
	            	'comments': comments,
	            	'roleName': roleName,
	            	'empIdx': empIdx
	            },
	            success: function(result) {
					alert("새로운 배포판 생성 성공");
					location.href = "/file/dashboard/activity";
	            }, error: function(xhr, status, error) {
	            	alert("배포판 생성 실패")
	                console.log(status);
	            }
	        });
		}

		$(function() {
			getUserInfo();
			
			getWaitingList();
			
			$("#btn-publish").click(function(){
				
				let publishedVersionName = $("#publish-version-name").val();
				let comments = $("#publish-comment").val();
				
				if (publishedVersionName == null || publishedVersionName == "") {
					alert('배포판 이름을 입력해 주세요.');
					return 0;
				} 
				
				publishDocument(publishedVersionName, comments);
			})
		});
	</script>

</body>

</html>