<th:block th:fragment="create_folder_modal">
<div class="modal fade" id="createFolder" tabindex="-1" role="dialog" aria-labelledby="directoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="directoryModalLabel">현재 위치에 폴더를 생성합니다</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <h6>현재 위치에 폴더를 생성합니다.</h6>
                <input type="text" class="form-control" id="folderName">
                <input type="hidden" id="ParentFolder" th:value="${folderIdx}">
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="createFolder()">생성</button>
            </div>
        </div>
    </div>
</div>
<script>
const folderName = $("#folderName").val();
const parentFolderIdx = $("input[name=folderIdx]").val()
function createFolder(){
	console.log($("#folderName").val());
	console.log($("input[name=folderIdx]").val());
	console.log(typeof(folderName));
	console.log(typeof(parentFolderIdx));
	$.ajax({
		url: "/document/folder",
		method: "POST",
		//contentType: "application/json; charset=utf-8",
		data: {
			folderName: $("#folderName").val(),
			parentFolderIdx: $("input[name=folderIdx]").val()
		},
		success: function(result, status, xhr){
			alert("폴더를 성공적으로 생성했어요.");
		},
		error: function(status, xhr, err){
			alert("폴더를 생성하는데 실패했어요.");
		}
	});
}

</script>
</th:block>