<th:block th:fragment="folder_modal">
<!-- 디렉토리 변경 버튼
	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#moveDirectory">
		<i class="fas fa-folder"></i>
  	</button>
/.디렉토리 변경 버튼 -->
	<div class="modal fade" id="moveDirectory" tabindex="-1" role="dialog" aria-labelledby="directoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="directoryModalLabel">파일 이동</h5>              
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                    
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                	<h6>파일이 옮겨질 디렉토리를 선택하세요</h6>
                    <div id="jstree_demo_div">
                        <!-- The tree will be appended here -->
                    </div>
                </div>
                
                <!-- Breadcrumb -->
                <div class="modal-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" id="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">현재 디렉토리</li>
                        </ol>
                    </nav>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="selectDirectory()">이동</button>
                </div>
            </div>
        </div>
    </div>
</th:block>