<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    <th:block th:replace="~{fragments/header_link :: header_link}" />
    <th:block th:replace="~{elements/datatables_header_link :: datatables_header_link}" />
    <th:block th:replace="~{elements/advanced_forms_header_link :: advanced_forms_header_link}" />

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <th:block th:replace="~{fragments/preloader :: preloader}" />

        <!-- Navbar -->
        <th:block th:replace="~{fragments/navi :: navi}" />
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <th:block th:replace="~{fragments/sidebar :: sidebar}" />
        <!-- /.sidebar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- 알림 메시지 표시 -->
            <div th:if="${message}" class="alert alert-success" role="alert">
                <span th:text="${message}"></span>
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0" style="font-weight: bold;">부서 및 프로젝트 설정</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a th:href="@{general}">Settings</a></li>
                                <li class="breadcrumb-item active">Access</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <h6 style="color: gray; margin-left: 50px; margin-bottom: 20px;">프로젝트에 대한 부서의 접근 권한을 관리합니다.</h6>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- 새 부서 추가 폼 -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;">새 부서 추가</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal" id="addNewDept">
                                        <div class="form-group">
                                            <label for="deptName" class="col-form-label">부서명</label>
                                            <input type="text" id="deptName" name="deptName" class="form-control" placeholder="부서명 입력">
                                        </div>
                                        <div>
                                            <label for="empIdx" class="col-form-label">부서 사원 추가/이동</label>
                                            <select id="empIdx" name="empIdx" class="select2 form-control" multiple="multiple" data-placeholder="(다중)선택" style="width: 100%;">
                                                <option th:each="emp : ${empList}" th:value="${emp.empIdx}" th:text="${emp.empName}"></option>
                                            </select>
                                        </div>
                                    </form>
                                    <button type="button" id="btnAddNewDept" class="col btn btn-success float-right" style="height: 38px; margin-top: 20px;">Add New Department</button>
                                </div>
                            </div>
                            <!-- 새 프로젝트 추가 폼 -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;">새 프로젝트 추가</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal" id="addNewProject">
                                        <div class="form-group">
                                            <label for="projectName">프로젝트명</label>
                                            <input type="text" id="projectName" name="projectName" class="form-control" placeholder="프로젝트명 입력">
                                        </div>
                                        <div>
                                            <label for="deptIdx">담당 부서 추가</label>
                                            <select id="deptIdx" name="deptIdx" class="select2 form-control" multiple="multiple" data-placeholder="(다중)선택" style="width: 100%;">
                                                <option th:each="dept : ${deptList}" th:value="${dept.deptIdx}" th:text="${dept.deptName}"></option>
                                            </select>
                                        </div>
                                    </form>
                                    <button type="button" id="btnAddNewProject" class="col btn btn-success float-right" style="height: 38px; margin-top: 20px;">Add New Project</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- 추가 폼 -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;">부서에 프로젝트 추가</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal" id="addDeptProject">
                                        <div class="form-group">
                                            <select id="deptNameAdd" name="deptIdx" class="select2 form-control" data-placeholder="부서 선택" style="width: 100%;">
                                                <option th:each="dept : ${deptList}" th:value="${dept.deptIdx}" th:text="${dept.deptName}"></option>
                                            </select>
                                            <br>
                                            <select id="projectNameAdd" name="projectIds" class="select2 form-control" multiple="multiple" data-placeholder="추가할 프로젝트 (다중)선택" style="width: 100%;" disabled>
                                                <!-- 프로젝트는 부서를 선택한 후 JavaScript로 동적으로 로딩 -->
                                            </select>
                                        </div>
                                    </form>
                                    <button type="button" id="btnAddDeptProject" class="col btn btn-success float-right" style="height: 38px; margin-top: 20px;">Add Project</button>
                                </div>
                            </div>
                            <!-- 삭제 폼 -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;">부서에서 프로젝트 제거</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal" id="deleteDeptProject">
                                        <div class="form-group">
                                            <select id="deptNameDelete" name="deptIdx" class="select2 form-control" data-placeholder="부서 선택" style="width: 100%;">
                                                <option th:each="dept : ${deptList}" th:value="${dept.deptIdx}" th:text="${dept.deptName}"></option>
                                            </select>
                                            <br>
                                            <select id="projectNameDelete" name="projectIds" class="select2 form-control" multiple="multiple" data-placeholder="삭제할 프로젝트 (다중)선택" style="width: 100%;" disabled>
                                                <!-- 프로젝트는 부서를 선택한 후 JavaScript로 동적으로 로딩 -->
                                            </select>
                                        </div>
                                    </form>
                                    <button type="button" id="btnDeleteDeptProject" class="col btn btn-success float-right" style="height: 38px; margin-top: 20px;">Delete Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-6">
                    		<!-- 사원과 프로젝트를 보유하지 않은 부서 삭제 -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;">빈 부서 삭제</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal" id="deleteEmptyDept">
                                        <div class="form-group">
                                            <select id="emptyDept" name="deptIdx" class="select2 form-control" data-placeholder="부서 선택" style="width: 100%;">
                                                <option th:each="emptyDept : ${emptyDeptList}" th:value="${emptyDept.deptIdx}" th:text="${emptyDept.deptName}"></option>
                                            </select>
                                        </div>
                                    </form>
                                    <button type="button" id="btnDeleteEmptyDept" class="col btn btn-danger float-right" style="height: 38px; margin-top: 20px;">Delete empty department</button>
                                </div>
                            </div>
                    	</div>
                    	<div class="col-md-6">                      
                            <!-- 빈 프로젝트 삭제 -->
							<div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;">비관리 프로젝트 삭제</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal" id="deleteEmptyProject">
                                        <div class="form-group">
                                            <select id="emptyProject" name="projectIdx" class="select2 form-control" data-placeholder="프로젝트 선택" style="width: 100%;">
                                                <option th:each="emptyProject : ${emptyProjectList}" th:value="${emptyProject.projectIdx}" th:text="${emptyProject.projectName}"></option>
                                            </select>
                                        </div>
                                    </form>
                                    <button type="button" id="btnDeleteEmptyProject" class="col btn btn-danger float-right" style="height: 38px; margin-top: 20px;">Delete project no longer used</button>
                                </div>
                            </div>
                    	</div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <th:block th:replace="~{fragments/footer :: footer}" />

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <th:block th:replace="~{fragments/footer_link :: footer_link}" />
    <th:block th:replace="~{elements/datatables_footer_link :: datatables_footer_link}" />
    <th:block th:replace="~{elements/advanced_forms_footer_link :: advanced_forms_footer_link}" />    
	<th:block th:replace="~{elements/sidebar_script :: sidebar_script}"/>
</body>

</html>

<th:block th:replace="~{fragments/footer_script :: footer_script}"/>
<script type="text/javascript">
    // 추가 form에 보여질 프로젝트 option 태그 채우기
    function loadOtherProjects(deptIdx) {
        $.ajax({
            type: "GET",
            url: "/setting/setting/deptProject/getOtherProjectsByDeptIdx/" + deptIdx, // 프로젝트를 가져올 엔드포인트 URL
            success: function(response) {
                // 서버로부터 받은 JSON 데이터를 파싱하여 옵션으로 추가
                $('#projectNameAdd').empty(); // 기존 옵션들을 모두 지우기
                $.each(response, function(index, project) {
                    $('#projectNameAdd').append('<option value="' + project.projectIdx + '">' + project.projectName + '</option>');
                });
                $('#projectNameAdd').prop('disabled', false);
            },
            error: function(xhr, status, error) {
                console.error("Failed to load projects: " + error);
                // 에러 처리를 추가하려면 여기에 코드를 작성하세요
            }
        });
    }

    // 삭제 form에 보여질 프로젝트 option 태그 채우기
    function loadCurrentProjects(deptIdx) {
        $.ajax({
            type: "GET",
            url: "/setting/setting/deptProject/getProjectsByDeptIdx/" + deptIdx, // 프로젝트를 가져올 엔드포인트 URL
            success: function(response) {
                // 서버로부터 받은 JSON 데이터를 파싱하여 옵션으로 추가
                $('#projectNameDelete').empty(); // 기존 옵션들을 모두 지우기
                $.each(response, function(index, project) {
                    $('#projectNameDelete').append('<option value="' + project.projectIdx + '">' + project.projectName + '</option>');
                });
                $('#projectNameDelete').prop('disabled', false);
            },
            error: function(xhr, status, error) {
                console.error("Failed to load projects: " + error);
                // 에러 처리를 추가하려면 여기에 코드를 작성하세요
            }
        });
    }
/*
    // 새 부서 추가
    function addNewDepartment() {
        $("#addNewDept").attr({
            action: "/setting/setting/dept/insert",
            method: "post"
        });
        $("#addNewDept").submit();
    }

    // 새 프로젝트 추가
    function addNewProject() {
        $("#addNewProject").attr({
            action: "/setting/setting/project/insert",
            method: "post"
        });
        $("#addNewProject").submit();
    }

    // 기존 부서에 프로젝트 추가
    function addProject() {
        $("#addDeptProject").attr({
            action: "/setting/setting/deptProject/insert",
            method: "post"
        });
        $("#addDeptProject").submit();
    }

    // 기존 부서에 프로젝트 제거
    function deleteProject() {
        $("#deleteDeptProject").attr({
            action: "/setting/setting/deptProject/delete",
            method: "post"
        });
        $("#deleteDeptProject").submit();
    }
    
    // 빈(어느 프로젝트 및 사원도 보유하지 않은) 부서 삭제
    function deleteEmptyDept() {
    	$("#deleteEmptyDept").attr({
    		action: "/setting/setting/dept/delete",
    		method: "post"
    	});
    	$("#deleteEmptyDept").submit();
    }
    
 	// 빈 프로젝트 삭제
    function deleteEmptyProject() {
    	$("#deleteEmptyProject").attr({
    		action: "/setting/setting/project/delete",
    		method: "post"
    	});
    	$("#deleteEmptyProject").submit();
    }
 */
 
	 //새 부서 추가
	 function addNewDepartment() {
	     var formData = new FormData($("#addNewDept")[0]);
	
	     $.ajax({
	         url: '/setting/setting/dept/insert',
	         type: 'POST',
	         data: formData,
	         processData: false,
	         contentType: false,
	         success: function(response) {
	             alert("New department added successfully");
	             location.href = '/setting/setting/dept_project';
	         },
	         error: function(jqXHR, textStatus, errorThrown) {
	             alert("Failed to add new department: " + textStatus);
	         }
	     });
	 }
	
	 // 새 프로젝트 추가
	 function addNewProject() {
	     var formData = new FormData($("#addNewProject")[0]);
	
	     $.ajax({
	         url: '/setting/setting/project/insert',
	         type: 'POST',
	         data: formData,
	         processData: false,
	         contentType: false,
	         success: function(response) {
	             alert("New project added successfully");
	             location.href = '/setting/setting/dept_project';
	         },
	         error: function(jqXHR, textStatus, errorThrown) {
	             alert("Failed to add new project: " + textStatus);
	         }
	     });
	 }
	
	 // 기존 부서에 프로젝트 추가
	 function addProject() {
	     var formData = new FormData($("#addDeptProject")[0]);
	
	     $.ajax({
	         url: '/setting/setting/deptProject/insert',
	         type: 'POST',
	         data: formData,
	         processData: false,
	         contentType: false,
	         success: function(response) {
	             alert("Project added to department successfully");
	             location.href = '/setting/setting/dept_project';
	         },
	         error: function(jqXHR, textStatus, errorThrown) {
	             alert("Failed to add project to department: " + textStatus);
	         }
	     });
	 }
	
	 // 기존 부서에 프로젝트 제거
	 function deleteProject() {
	     var formData = new FormData($("#deleteDeptProject")[0]);
	
	     $.ajax({
	         url: '/setting/setting/deptProject/delete',
	         type: 'POST',
	         data: formData,
	         processData: false,
	         contentType: false,
	         success: function(response) {
	             alert("Project removed from department successfully");
	             location.href = '/setting/setting/dept_project';
	         },
	         error: function(jqXHR, textStatus, errorThrown) {
	             alert("Failed to remove project from department: " + textStatus);
	         }
	     });
	 }
	
	 // 빈(어느 프로젝트 및 사원도 보유하지 않은) 부서 삭제
	 function deleteEmptyDept() {
	     var formData = new FormData($("#deleteEmptyDept")[0]);
	
	     $.ajax({
	         url: '/setting/setting/dept/delete',
	         type: 'POST',
	         data: formData,
	         processData: false,
	         contentType: false,
	         success: function(response) {
	             alert("Empty department deleted successfully");
	             location.href = '/setting/setting/dept_project';
	         },
	         error: function(jqXHR, textStatus, errorThrown) {
	             alert("Failed to delete empty department: " + textStatus);
	         }
	     });
	 }
	
	 // 빈 프로젝트 삭제
	 function deleteEmptyProject() {
	     var formData = new FormData($("#deleteEmptyProject")[0]);
	
	     $.ajax({
	         url: '/setting/setting/project/delete',
	         type: 'POST',
	         data: formData,
	         processData: false,
	         contentType: false,
	         success: function(response) {
	             alert("Empty project deleted successfully");
	             location.href = '/setting/setting/dept_project';
	         },
	         error: function(jqXHR, textStatus, errorThrown) {
	             alert("Failed to delete empty project: " + textStatus);
	         }
	     });
	 }


    $(function() {
        $("#btnAddNewDept").click(function() {
            addNewDepartment();
        });
        $("#btnAddNewProject").click(function() {
            addNewProject();
        });
        $("#btnAddDeptProject").click(function() {
            addProject();
        });
        $("#btnDeleteDeptProject").click(function() {
            deleteProject();
        });
        $("#btnDeleteEmptyDept").click(function(){
        	deleteEmptyDept();
        });
        $("#btnDeleteEmptyProject").click(function(){
        	deleteEmptyProject();
        });

        // 추가할 부서 선택 시 해당 부서가 보유하지 않은 프로젝트를 동적으로 로딩
        $('#deptNameAdd').change(function() {
            // console.log($(this).val()); 부서 idx
            loadOtherProjects($(this).val());
        });

        // 삭제할 부서 선택 시 해당 부서가 보유한 프로젝트를 동적으로 로딩
        $('#deptNameDelete').change(function() {
            // console.log($(this).val()); 부서 idx
            loadCurrentProjects($(this).val());
        });
    });
</script>