<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CMS | Setting</title>

	<th:block th:replace="~{fragments/header_link :: header_link}"/>
	<th:block th:replace="~{elements/datatables_header_link :: datatables_header_link}"/>
	<th:block th:replace="~{elements/advanced_forms_header_link :: advanced_forms_header_link}"/>
	
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <th:block th:replace="~{fragments/preloader :: preloader}"/>
	
  <!-- Navbar -->
	<th:block th:replace="~{fragments/navi :: navi}"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="~{fragments/sidebar :: sidebar}"/>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" style="font-weight: bold;">역할 권한 설정</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Settings</li>
              <li class="breadcrumb-item active">Role</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <h6 style="color: gray; margin-left: 50px; margin-bottom: 20px;">역할이 보유한 문서 관리 권한을 설정합니다.</h6>
    <section class="content">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-5">
    				<div class="card">
					    <div class="card-header">
					        <h3 class="card-title" style="font-weight: bold;">역할 추가</h3>
					        <div class="card-tools">
					            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					                <i class="fas fa-minus"></i>
					            </button>
					        </div>
					    </div>
					    <div class="card-body">
					    	<form class="form-horizontal" id="addNewRole">
							    <div class="form-group">
							        <label for="roleName" class="col-form-label">역할명</label>
							        <input type="text" id="roleName" name="roleName" class="form-control" placeholder="새 역할명 입력">
							    </div>
							
							    <div class="row">
							        <div class="col">
							            <div class="form-group">
							            	<div class="form-check">
							                    <input class="form-check-input" type="checkbox" name="authorities" value="100" id="read">
							                    <label class="form-check-label" for="drafts">Read</label>
							                </div>
							                <div class="form-check">
							                    <input class="form-check-input" type="checkbox" name="authorities" value="200" id="write">
							                    <label class="form-check-label" for="write">Write</label>
							                </div>
							                <div class="form-check">
							                    <input class="form-check-input" type="checkbox" name="authorities" value="300" id="review">
							                    <label class="form-check-label" for="review">Publish</label>
							                </div>
							            </div>
							        </div>
							    </div>
							    <input type="button" id="btnAddNewRole" value="Add Role" class="btn btn-success float-right" style="height: 38px">
							</form>
					    </div>
					</div>
    			</div>
    			<div class="col-md-7">
    				<div class="card">
					    <div class="card-header">
					        <h3 class="card-title" style="font-weight: bold;">역할 권한 수정</h3>
					        <div class="card-tools">
					            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					                <i class="fas fa-minus"></i>
					            </button>
					        </div>
					    </div>
					    <div class="card-body">
					    	<form class="form-horizontal" id="roleAuthTable">
							     <table class="table table-bordered table-striped">
					                <thead>
					                    <tr>
					                        <th style="vertical-align:middle; text-align: center;">역할명</th>
					                        <th style="vertical-align:middle; text-align: center;">보유 권한</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr th:each="entry : ${roleAuthMap.entrySet()}">
							                <input type="hidden" name="roleCodes" th:value="${entry.key.roleCode}">
							                <td style="vertical-align: middle; text-align: center;" th:text="${entry.key.roleName}"></td>
							                <td>
							                    <div class="form-group">
							                        <select class="select2 form-control" name="authorities_${entry.key.roleCode}" multiple="multiple" style="width: 100%;">
							                            <option th:each="authority : ${authList}" 
							                                    th:value="${authority.authorityCode}"
							                                    th:text="${authority.authorityName}"
							                                    th:selected="${entry.value.contains(authority)}"></option>
							                        </select>
							                    </div>
							                </td>
							            </tr>
					                </tbody>
					            </table>
					        </form>
					        <input type="button" id="btnSaveRoleAuthChanges" value="Save Changes" class="btn btn-success float-right" style="height: 38px; margin-top: 20px;">
					    </div>
					</div>
    			</div>
    		</div>
    	</div>

  	</section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <th:block th:replace="~{fragments/footer :: footer}"/>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
	
  
  <th:block th:replace="~{fragments/footer_link :: footer_link}"/>
  <th:block th:replace="~{elements/datatables_footer_link :: datatables_footer_link}"/>
  <th:block th:replace="~{elements/advanced_forms_footer_link :: advanced_forms_footer_link}"/>
  <!-- 사이드바 디렉토리 관련 로직 -->
  <th:block th:replace="~{elements/sidebar_script :: sidebar_script}"/>
  <!-- /.사이드바 디렉토리 관련 로직 -->

</body>
</html>

<th:block th:replace="~{fragments/footer_script :: footer_script}"/>
<script>

	function submitNewRole() {
		event.preventDefault(); // 폼의 기본 제출 동작을 막음
        let formData = new FormData(document.getElementById('addNewRole')); // 폼 데이터를 FormData 객체로 생성
        let jsonData = {};

        formData.forEach(function(value, key) {
            if (jsonData[key]) {
                if (!Array.isArray(jsonData[key])) {
                    jsonData[key] = [jsonData[key]];
                }
                jsonData[key].push(value);
            } else {
                jsonData[key] = value;
            }
        });

        $.ajax({
            type: 'POST',
            url: '/setting/setting/roleauth/add',
            contentType: 'application/json',
            data: JSON.stringify(jsonData),
            success: function(response) {
                alert('Roles saved successfully!');
                location.href = '/setting/setting/role';
            },
            error: function(error) {
                alert('Error saving roles!');
            }
        });
	}
	
	function saveRoleAuthChanges(){
		let data = {
	        roleCodes: [],
	        authorities: {}
	    };

	    // Collect role codes and corresponding authorities
	    $('#roleAuthTable').find('tr').each(function() {
	        let roleCode = $(this).find('input[name="roleCodes"]').val();
	        if (roleCode) {
	            data.roleCodes.push(roleCode);

	            let authorities = $(this).find('select').val();
	            if (authorities) {
	                data.authorities[roleCode] = authorities;
	            }
	        }
	    });
		
		$.ajax({
            url: '/setting/setting/roleauth/update',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                if(response.success) {
                    alert("Changes saved successfully.");
                    location.href = '/setting/setting/role';
                } else {
                    alert("Failed to save changes.");
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error:", errorThrown);
                alert("An error occurred while saving changes.");
            }
        });
	}
	
	
	$(function() {
		$("#btnAddNewRole").click(function() {
			submitNewRole();
		});
		$("#btnSaveRoleAuthChanges").click(function() {
            saveRoleAuthChanges();
        });
	});
	
</script>