<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CMS | Setting</title>

	<th:block th:replace="~{fragments/header_link :: header_link}"/>
	<th:block th:replace="~{elements/datatables_header_link :: datatables_header_link}"/>
	<th:block th:replace="~{elements/advanced_forms_header_link :: advanced_forms_header_link}"/>
	
	 <style>
	 		
		input[type="file"] {
		    display: none;
		}
		
		.inputFileButton {
		    padding: 6px 25px;
			background-color:#FFFFFF;
		    border-radius: 4px;
		    color: black;
		    cursor: pointer;
		    display: inline-block;
		    margin: 15px auto;  /* 세로 여백과 자동 가로 중앙 정렬 */
		    text-align: center; /* 버튼 내 텍스트 중앙 정렬 */
		}
	 
        .addImage {
            width: 45%;
            height: 45%;
            background-color: lightgray;
            border-radius: 20px 20px / 20px 20px;
            overflow: hidden;
            display: flex;
	        justify-content: center; /* 수평 가운데 정렬 */
	        align-items: center; /* 수직 가운데 정렬 */
        }
        .addImage img {
        	width: 100%;
        	height: 100%;	        
	        max-width: 100%; /* 이미지가 부모 요소를 넘지 않도록 최대 크기 지정 */
	        max-height: 100%;
	        object-fit: cover;
	    }   
	         
    </style>
	 
	 <script>
	 	// 이미지 로드용
        function loadFile(input) {
            let file = input.files[0]; // 선택파일 가져오기

            let newImage = document.createElement("img"); // 새 이미지 태그 생성

            //이미지 source 가져오기
            newImage.src = URL.createObjectURL(file);
            newImage.style.width = "100%"; 		// div에 꽉차게 넣기
            newImage.style.height = "100%";
            newImage.style.objectFit = "cover"; // div에 넘치지 않고 들어가게

            // 이미지를 image-show div에 추가
            let container = document.getElementById('image-show');
            container.innerHTML = ''; // 기존 이미지를 제거
            container.appendChild(newImage);
        }
	</script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <th:block th:replace="~{fragments/preloader :: preloader}"/>
	
  <!-- Navbar -->
	<th:block th:replace="~{fragments/navi :: navi}"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="~{fragments/sidebar :: sidebar}"/>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" style="font-weight: bold;">이용자 관리</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="">Setting</a></li>
              <li class="breadcrumb-item active">User</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <h6 style="color: gray; margin-left: 50px; margin-bottom: 20px;">이용자를 추가하거나 부서와 역할을 변경할 수 있습니다.</h6>
    <section class="content">
      	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-4">
    				<div class="card">
					    <div class="card-header">
					        <h5 class="card-title" style="font-weight: bold;">사용자 추가</h5>
					        <div class="card-tools">
					            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					                <i class="fas fa-minus"></i>
					            </button>
					        </div>
					    </div>
						<div class="card-body">
					        <form class="inputImg" enctype="multipart/form-data" id="addNewEmp">
							    <div class="form-group">
					                <label>사원명</label>
					                <input type="text" name="empName" class="form-control" placeholder="사원명 입력">
					            </div>
					            <div class="form-group">
					                <label>ID</label>
					                <input type="text" name="empId" class="form-control" placeholder="ID 입력">
					            </div>
					            <div class="form-group">
					                <label>PW</label>
					                <input type="password" name="empPw" class="form-control" placeholder="PW 입력">
					            </div>
							    <div class="row">
							        <div class="col">
							            <div class="form-group">
							            	<label>Role</label>
							                <select id="inputRoleCode" name="roleCode" class="select1 form-control" data-placeholder="역할 선택" style="width: 100%;">
												<option th:each="role : ${roleList}" th:value="${role.roleCode}" th:text="${role.roleName}"></option>
											</select>
							            </div>
							        </div> 
								</div>
								<div class="row">
							        <div class="col">
							            <div class="form-group">
							            	<label>Department</label>
							                <select id="inputDeptIdx" name="deptIdx" class="select1 form-control" data-placeholder="부서 선택" style="width: 100%;">
												<option th:each="dept : ${deptList}" th:value="${dept.deptIdx}" th:text="${dept.deptName}"></option>
											</select>
							            </div>
							        </div> 
								</div>
				                <label>Profile Image</label>
								<div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
					                <div class="addImage" id="image-show" style="width: 200px; height: 200px; margin: auto;">
					                 	<!-- 이미지 띄울 공간 -->
					                </div>
					                <label class="inputFileButton" for="inputFile">
					                	이미지 첨부
					                </label>
									<input type="file" name="file" id="inputFile" accept="image/*" onchange="loadFile(this)"/>
					            </div>
					            <button type="button" id="btnAddNewEmp" class="col btn btn-success float-right" style="height: 38px; margin-top: 20px;">Add new Employee</button>
							</form>
					    </div>
			 		</div>
    			</div>
    			<div class="col-md-8">
    				<div class="card">
					    <div class="card-header">
					        <h5 class="card-title" style="font-weight: bold;">사원 역할 설정</h5>
			       		        <div class="card-tools">
					            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					                <i class="fas fa-minus"></i>
					            </button>
					        </div>
					    </div>
						<div class="card-body">
							<form class="form-horizontal" id="updateEmps">
						        <table id="emp" class="table table-bordered table-striped">
						            <thead>
						                <tr>
						                    <th>사원명</th>
						                    <th>역할</th>
						                    <th>부서</th>
						                </tr>
						            </thead>
						            <tbody>
						                <tr th:each="emp : ${empList}">
						                	<input type="hidden" id="empIdx" name="empIdx" th:value="${emp.empIdx}">
							                <td th:text="${emp.empName}" id="empName"></td>
							                <td>
							                    <select name="roleCode" class="select1 form-control" data-placeholder="역할 선택" style="width: 100%;">
							                        <option th:each="role : ${roleList}" th:selected="${role}==${emp.role}" th:value="${role.roleCode}" th:text="${role.roleName}"></option>
							                    </select>
							                </td>
							                <td>
							                    <select name="deptIdx" class="select1 form-control" data-placeholder="부서 선택" style="width: 100%;">
							                        <option th:each="dept : ${deptList}" th:selected="${dept}==${emp.dept}" th:value="${dept.deptIdx}" th:text="${dept.deptName}"></option>
							                    </select>
							                </td>
							            </tr>
						            </tbody>    
						        </table>
						        <div class="d-flex justify-content-between">
						        	<div class="col-md-2"></div>
						        	<div>
						        		<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
						        			<ul class="pagination">
						        				<li class="paginate_button page-item previous" id="example1_previous" th:classappend="${pager.currentPage == 1} ? 'disabled'">
						        					<a th:href="@{/setting/setting/user(page=${pager.currentPage - 1})}" aria-controls="example1" class="page-link">Previous</a>
						        				</li>
						        				<li class="paginate_button page-item" th:each="i : ${#numbers.sequence(pager.firstPage , pager.lastPage)}" th:classappend="${pager.currentPage == i} ? 'active'">
						        					<a th:href="@{/setting/setting/user(currentPage=${i})}" aria-controls="example1" th:text="${i}" tabindex="0" class="page-link" th:classappend="${pager.currentPage==i ? 'current-page':'' }">1</a>
						        				</li>
						        				<li class="paginate_button page-item next" id="example1_next" th:classappend="${pager.currentPage == pager.totalPage} ? 'disabled'">
						        					<a th:href="@{/setting/setting/user(page=${pager.currentPage + 1})}" aria-controls="example1" class="page-link">Next</a>
						        				</li>
						        			</ul>
						        		</div>
						        	</div>
						        	<div class="col-md-2">
						        		<div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
							        		Showing 
										    <span th:text="${pager.startIndex + 1}"></span>
										    to 
										    <span th:text="${pager.lastIndex}"></span>
										    of 
										    <span th:text="${pager.totalRecord}"></span>
										    entries
						        		</div>
						        	</div>
						        </div>
						    </form>
						    <button type="button" id="btnUpdateEmps" class="col btn btn-success float-right" style="height: 38px; margin-top: 20px;">Save Changes</button>
					    </div>
			  		</div>
    			</div>
    		</div>
   		</div>  	
  	</section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <th:block th:replace="~{fragments/footer :: footer}"/>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
	
  <th:block th:replace="~{fragments/footer_link :: footer_link}"/>
  <th:block th:replace="~{elements/datatables_footer_link :: datatables_footer_link}"/>
  <th:block th:replace="~{elements/advanced_forms_footer_link :: advanced_forms_footer_link}"/>
  
  <!-- 사이드바 디렉토리 관련 로직 -->
  <th:block th:replace="~{elements/sidebar_script :: sidebar_script}"/>
  <!-- /.사이드바 디렉토리 관련 로직 -->
  

</body>
</html>

<th:block th:replace="~{fragments/footer_script :: footer_script}"/>
<script type="text/javascript">

	function registEmp() { // 회원 등록 정보 전송
		$("form.inputImg").attr({
			action:"/setting/emp/regist",
			method:"POST",
			// 텍스트 데이터와 바이너리 데이터가 섞여 있는 복합 데이터 전송: enctype multipart/form-data
			enctype:"multipart/form-data"
		});
		$("form.inputImg").submit();
	}
	
	function updateEmps() { // 회원 정보 변경 전송
		var formData = $("#updateEmps").serialize();
		 $.ajax({
			url: '/setting/emp/update',
	        type: 'POST',
	        data: formData,
	        success: function(response) {
	            alert("Employees updated successfully");
	            window.location.href = '/setting/setting/user';
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	            alert("Failed to update employees: " + textStatus);
	        }
		});
		 
		$("form.updateEmps").submit();
	}
	
	$(function(){
		$("#btnAddNewEmp").click(function(){
			registEmp();
		});
		$("#btnUpdateEmps").click(function(){
			updateEmps();
		});
	});
	
</script>