<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.document.BookmarkDAO">
	
	<insert id="insert" parameterType="Bookmark">
		insert into bookmark(emp_idx, document_idx)
		values(#{emp.emp_idx}, #{document.document_idx})
		<selectKey keyColumn="bookmark_idx" keyProperty="bookmarkIdx" resultType="int" order="AFTER">
			select last_insert_id() as bookmark_idx
		</selectKey>
	</insert>
	
	<resultMap type="Bookmark" id="BookmarkMap">
		<id 	column="bookmark_idx" 	property="bookmarkIdx"/>
		<result	column="regdate" 		property="regdate"/>		
		<association column="emp_idx" property="emp" javaType="Emp" 
			select="com.sds.cmsapp.model.emp.EmpDAO.select"/>
		<association column="document_idx" property="document" javaType="Document" 
			select="com.sds.cmsapp.model.document.DocumentDAO.selectByDocumentIdx"/>
	</resultMap>
	
	<delete id="delete" parameterType="Bookmark">
		delete from bookmark
		where emp_idx = #{emp_idx}
		and document_idx = #{document_idx}
	</delete>
	
	<delete id="deleteByBookmarkIdx" parameterType="int">
		delete from bookmark
		where bookmark_idx = #{bookmark_idx}
	</delete>
	
	<select id="select" parameterType="int" resultMap="BookmarkMap">
		select * from bookmark
		where bookmark_idx = #{bookmark_idx}
	</select>
	
	<select id="selectByEmpIdx" parameterType="int" resultMap="BookmarkMap">
		select * from bookmark
		where emp_idx = #{emp_idx}
		limit #{startIndex}, #{rowCount}
	</select>
	
	<select id="selectCountByEmpIdx" parameterType="int" resultType="int">
		select Count(*) from bookmark
		where emp_idx = #{emp_idx}
	</select>
	
	<select id="selectCountByDocument_idx" parameterType="int" resultType="int">
		select Count(*) from bookmark
		where document_idx = #{document_idx}
	</select>
	
	<select id="isBookmark" parameterType="Bookmark" resultMap="BookmarkMap">
		select * from bookmark
		where emp_idx = #{emp_idx}
		and document_idx = #{document_idx}
	</select>
	
	
</mapper>