<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.dept.DeptDAO">

	<!-- 부서 추가 -->
	<insert id="insert" parameterType="Dept">
	    insert into dept(dept_name)
	    values(#{dept_name});
	    <selectKey keyColumn="dept_idx" keyProperty="deptIdx" resultType="int" order="AFTER">
	        select last_insert_id() as dept_idx
	    </selectKey>
	</insert>
	
	<!-- 부서 이름 전체 출력 -->
	<select id="selectAllDeptName" resultType="Dept">
		select dept_idx, dept_name from dept
	</select>
	
	<select id="selectAll" resultType="Dept">
		select * from dept
	</select>
	
	<!-- dept_idx가 가리키는 부서 조회 -->
	<select id="selectByDeptIdx" parameterType="int" resultType="Dept">
		select * from dept where dept_idx=#{dept_idx}
	</select>
	
</mapper>