<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.document.DocumentDAO">

	<!-- DocumentMap -->
	<resultMap type="Document" id="DocumentMap">
		<id column="document_idx" property="document_idx" />
		<result column="hit" property="hit" />

		<!-- emp 테이블과 조인 -->
		<association property="emp" resultMap="com.sds.cmsapp.model.emp.EmpDAO.EmpMap" />
		
		<!-- status_log 테이블과 조인 -->
		<collection
			property="statusLogList" 
			column="document_idx" 
			javaType="java.util.List"
			ofType="statusLog"
			select="com.sds.cmsapp.model.status.StatusLogDAO.selectAllByDocumentIdx"/>
		
	</resultMap>


	<!-- 쿼리 -->

	<!-- 문서 한 개 조회 -->
	<select id="selectByDocumentIdx" parameterType="int" resultMap="DocumentMap">
		select * from
		document where document_idx=#{document_idx}
	</select>

    <!-- 문서 삽입 -->
    <insert id="documentInsert" parameterType="Document" >
        INSERT INTO document (emp_idx)
        VALUES (1)
    </insert>

	<!-- 버전로그 삽입 -->
	<insert id="versionInsert" parameterType="VersionLog">
<!-- 	INSERT INTO version_log(branched_version_log_idx, emp_idx, project_idx, folder_idx, document_idx, version, title, content, comments) 
	VALUES (#{branched_version_log_idx},#{emp_idx},#{project_idx},#{folder_idx},#{document_idx},#{version}, #{title}, #{content}, #{comments});
	 -->
	INSERT INTO version_log(branched_version_log_idx,emp_idx,project_idx,folder_idx,document_idx,version,title,content,comments) 
	VALUES (NULL,7,1,NULL,1,1,#{title}, #{content},'초안')

	
	</insert>


</mapper>