<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper
	namespace="com.sds.cmsapp.model.document.DocumentVersionDAO">


	<resultMap type="DocumentVersion" id="DocumentVersionMap">
		<id column="document_version_idx" property="document_version_idx" />
		<association column="document_idx" property="document"
			javaType="Document"
			select="com.sds.cmsapp.model.document.DocumentDAO.selectByDocumentIdx" />
		<association column="version_log_idx" property="versionLog"
			javaType="VersionLog"
			select="com.sds.cmsapp.model.versionlog.VersionLogDAO.selectByVersionLogIdx" /> <!-- 프로퍼티는 카멜케이스로 작성 -->
	</resultMap>

	<select id="selectByDocumentIdx" parameterType="int"
		resultMap="DocumentVersionMap">
		select * from document_version where
		document_idx=#{document_idx}
	</select>

</mapper>