<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.mastercode.MasterCodeDAO">
	
	<!-- master_code 한 개 조회 -->
	<!-- returnType="MasterCode" -->
	<select id="select" parameterType="int" resultType="MasterCode">
		select * from mastercode where status_code=#{statusCode}
	</select>
	
	<select id="selectAll" resultType="MasterCode">
		select * from mastercode
	</select>

</mapper>