<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.owner.OwnerDAO">

	<!-- Owner 계정 정보 변경 -->
	<update id="update" parameterType="Owner">
		update owner
		set owner_id=#{owner_id}, owner_pw=#{owner_pw}
		where owner_idx=1
	</update>
	
</mapper>