<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.role.RoleDAO">

	<!-- 역할 추가 -->
	<insert id="insert" parameterType="Role">
		insert into role(role_name)
		values(#{role_name});
	</insert>
	
	<!-- deprecated -->
	<!-- role_idx가 가리키는 부서 조회 -->
	<select id="selectByRoleIdx" parameterType="int" resultType="Role">
		select * from role where role_idx=#{role_idx}
	</select>
	<!-- deprecated -->
	
	<!-- role_code가 가리키는 부서 조회 -->
	<select id="selectByRoleCode" parameterType="int" resultType="Role">
		select * from role where role_code=#{role_code}
	</select>
	
	<!-- 모든 role 정보 조회 -->
	<select id="selectAll" resultType="Role">
		select * from role
	</select>
	
</mapper>