<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.statuslog.StatusLogDAO">

	<resultMap type="StatusLog" id="StatusLogMap">
		<id column="status_log_idx" property="statusLogIdx" />
		<result column="comments" property="comments" />
		<result column="regdate" property="regdate" />

		<association column="status_code" property="masterCode"
			javaType="MasterCode"
			select="com.sds.cmsapp.model.mastercode.MasterCodeDAO.select" />

		<association column="emp_idx" property="emp"
			javaType="Emp"
			select="com.sds.cmsapp.model.emp.EmpDAO.selectByEmpIdx" />
			
		
	</resultMap>

	<!-- 한 개 조회 by document_idx(document 테이블) -->
 	<select id="selectLatestRegisteredStatusLogByDocumentIdx"
		parameterType="int" resultMap="StatusLogMap">
		select * from status_log where
		document_idx=#{documentIdx}
		order by status_log_idx desc
		limit 1
	</select>
	
	<!-- 0603 추가 -->
		<resultMap type="StatusLog" id="StatusLogMapForDashboard">
		<id column="status_log_idx" property="statusLogIdx" />
		<result column="comments" property="comments" />
		<result column="regdate" property="regdate" />

		<!-- status_code -->
		<association column="status_code" property="masterCode"
			javaType="MasterCode"
			select="com.sds.cmsapp.model.mastercode.MasterCodeDAO.select" />

		<!-- emp -->
		<association column="emp_idx" property="emp"
			javaType="Emp"
			select="com.sds.cmsapp.model.emp.EmpDAO.selectByEmpIdx" />
			
		<!-- document --> <!-- 없어도 동작함 -->
<!-- 		<association property="document"  javaType="Document">
			<id column="document_idx" property="document_idx"/>
		</association> -->
		
	</resultMap>
	
	<select id="select" parameterType="int" resultMap="StatusLogMapForDashboard">
		select * from status_log where document_idx=#{documentIdx}
	</select>
	
	<delete id="deleteBy"></delete>
	

</mapper>