<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.statuslog.StatusLogDAO">
	
<!-- 	<select id="select" parameterType="int">
		select * from status_log where document_idx=#{documentIdx}
	</select> -->
	
	<resultMap type="StatusLog" id="StatusLogMap">
		<id column="status_log_idx" property="statusLogIdx"/>
		<result column="comments" property="comments"/>
		<result column="regdate" property="regdate"/>
		<!-- EmpMap -->
		<association column="emp_idx" property="emp" javaType="Emp"
			select="com.sds.cmsapp.model.emp.EmpDAO.selectByEmpIdx"/>
		<!-- DocumentMap -->
		<association column="document_idx" property="document" javaType="Document"
			select="com.sds.cmsapp.model.document.DocumentDAO.selectMap"/>
		<association column="status_code" property="masterCode" javaType="MasterCode"
			select="com.sds.cmsapp.model.mastercode.MasterCodeDAO.select"/>
	</resultMap>
	
	<select id="selectFilteredListOfLatestRegisteredLog" parameterType="FilterItemDTO" resultMap="StatusLogMap">
		SELECT * 
		FROM (
			SELECT * FROM status_log 
			WHERE (document_idx, status_log_idx) 
			IN (SELECT document_idx, max(status_log_idx) FROM status_log GROUP BY document_idx)
			) s
        LEFT JOIN trash t ON s.document_idx = t.document_idx
		WHERE t.trash_idx IS NULL
		<if test="documentIdxListInProject != null">
			AND s.document_idx 
			IN <foreach collection="documentIdxListInProject" item="d" open="(" close=")" separator="," >#{d}</foreach>
		</if>
		<if test="statusCodeList != null">
			AND s.status_code 
			IN <foreach collection="statusCodeList" item="s" open="(" close=")" separator="," >#{s}</foreach>
		</if>
		<if test="startDate != null and endDate != null">
			AND s.regdate BETWEEN #{startDate} AND #{endDate}
		</if>
	</select>
	
	<select id="selectSummaryListOfLatestRegisteredLog" parameterType="int" resultMap="StatusLogMap">
		SELECT * 
		FROM (
			SELECT * FROM status_log 
			WHERE (document_idx, status_log_idx) 
			IN (SELECT document_idx, max(status_log_idx) FROM status_log GROUP BY document_idx)
			) s
        LEFT JOIN trash t ON s.document_idx = t.document_idx
		WHERE t.trash_idx IS NULL
		<if test="statusCode != null">
			AND s.status_code = #{statusCode}
		</if>
		ORDER BY s.regdate desc
        LIMIT 10;
	</select>
	
	<select id="countByStatus" parameterType="int" resultType="Integer">	
		SELECT COUNT(s.document_idx), status_code 
		FROM (
			SELECT * FROM status_log 
			WHERE (document_idx, status_log_idx) 
			IN	(SELECT document_idx, max(status_log_idx) FROM status_log GROUP BY document_idx)
        	) s
        LEFT JOIN trash t ON s.document_idx = t.document_idx
		WHERE t.trash_idx IS NULL
		GROUP BY status_code
		HAVING status_code = #{statusCode}
	</select>

</mapper>