<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.trash.TrashDAO">
	
	<insert id="insert" parameterType="Trash">
		insert into trash(emp_idx, document_idx)
		values(#{emp.empIdx}, #{document.documentIdx})
		<selectKey keyColumn="trash_idx" keyProperty="trash_idx" resultType="int" order="AFTER">
			select last_insert_id() as trash_idx
		</selectKey>
	</insert>
	
	<resultMap type="Trash" id="TrashMap">
		<id 	column="trash_idx" 	property="trashIdx"/>
		<result	column="regdate" 		property="regdate"/>		
		<association column="emp_idx" property="emp" javaType="Emp" 
			select="com.sds.cmsapp.model.emp.EmpDAO.select"/>
		<association column="document_idx" property="document" javaType="Document" 
			select="com.sds.cmsapp.model.document.DocumentDAO.selectByDocumentIdx"/>
	</resultMap>
	
	<delete id="delete" parameterType="int">
		delete from trash where trash_idx = #{trashIdx}	
	</delete>
	
	<select id="select" parameterType="int" resultMap="TrashMap">
		select * from trash
		where trash_idx = #{trashIdx}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) from trash
	</select>
	
	<select id="selectAll">
		select * from trash
	</select>
	
	<select id="selectByDocumentIdx" parameterType="int" resultMap="TrashMap">
		select * from trash where document_idx = #{documentIdx}
	</select>
	
	<select id="selectAllWithRange" parameterType="java.util.Map" resultMap="TrashMap">
		select * from trash limit  #{startIndex} , #{rowCount}
	</select>
	
	<delete id="deleteAll">
		delete from trash
	</delete>
	
</mapper>