<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.document.TrashDAO">
	
	<insert id="insert" parameterType="Trash">
		insert into trash(emp_idx, document_idx)
		values(#{emp.emp_idx}, #{document.document_idx})
		<selectKey keyColumn="trash_idx" keyProperty="trash_idx" resultType="int" order="AFTER">
			select last_insert_id() as trash_idx
		</selectKey>
		<selectKey keyColumn="regdate" keyProperty="regdate" resultType="java.sql.Timestamp" order="AFTER">
			select regdate from trash where trash_idx = #{trash_idx}
		</selectKey>
	</insert>
	
	<resultMap type="Trash" id="TrashMap">
		<id column="trash_idx" property="trash_idx"/>
		
	</resultMap>
	
	<delete id="delete" parameterType="int">
		delete from trash where trash_idx = #{trash_idx}	
	</delete>
	
	<select id="select" parameterType="int" resultType="Trash">
		select * from trash
		where trash_idx = #{trash_idx}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) from document
	</select>
	
	<select id="selectAll" parameterType="java.util.Map" resultType="Trash">
		select * from movie limit  #{startIndex} , #{rowCount}
	</select>
	
	<delete id="deleteAll">
		delete from trash
	</delete>
	
	<select id="isTrash" parameterType="int" resultType="Trash">
		select * from trash where document_idx = #{document_idx}
	</select>

</mapper>