<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsapp.model.versionlog.VersionLogDAO">

	<resultMap type="VersionLog" id="VersionLogMap">
		<id 			column="version_log_idx" 	property="version_log_idx"/>
		<result 		column="title" 				property="title"/>
		<result 		column="content" 		property="content"/>
		<result 		column="comments" 				property="comments"/>
		<result 		column="regdate" 				property="regdate"/>
		
		<!-- resultType Emp는 성공 -->
		<association column="emp_idx" property="emp" javaType="Emp" select="com.sds.cmsapp.model.emp.EmpDAO.selectByEmpIdx"/>
		<association column="document_idx" property="document" javaType="Document" select="com.sds.cmsapp.model.document.DocumentDAO.select"/>

		<!-- branched_version_log 컬럼은 보류 -->
		
	</resultMap>

	
	<!-- 하나 조회 by version_log_idx  -->
	<select id="selectByVersionLogIdx" parameterType="int" resultMap="VersionLogMap">
		select * from version_log where version_log_idx=#{version_log_idx}
	</select>
	
	<!-- 사용자가 작업한 로그 조회 (마이페이지 내 타임라인) -->
	<select id="selectByEmpIdx" parameterType="int" resultMap="VersionLogMap">
		select * 
		from version_log
		where emp_idx=#{emp.emp_idx}
	</select>
	
	<!-- 전체 조회(타임라인 로그) -->
	<select id="selectAll" resultMap="VersionLogMap">
		select *
		from version_log
	</select>

</mapper>