<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsclient.model.document.DocumentDAO">
	
	<select id="projectNameSelect" parameterType="int">
		select project_name from project where project_idx=#{projectIdx}
	</select>
	
	
	<select id="getFolderListByProjectIdx" parameterType="int" resultMap="folderResultMap">
	    SELECT
	        folder_idx,
	        folder_name,
	        parent_folder_idx,
	        project_idx
	    FROM folder
	    WHERE project_idx = #{projectIdx}
	    ORDER BY parent_folder_idx, folder_idx
	</select>
	
	<resultMap id="folderResultMap" type="com.sds.cmsclient.domain.Folder">
	    <id property="folderIdx" column="folder_idx"/>
	    <result property="folderName" column="folder_name"/>
	    <result property="parentFolderId" column="parent_folder_idx"/>
	    <result property="project.projectIdx" column="project_idx"/>
	    <collection property="childFolders" ofType="com.sds.cmsclient.domain.Folder" select="getFolderListByProjectIdx" column="folder_idx">
	        <id property="folderIdx" column="folder_idx"/>
	        <result property="folderName" column="folder_name"/>
	        <result property="parentFolderId" column="parent_folder_idx"/>
	        <result property="project.projectIdx" column="project_idx"/>
	    </collection>
	</resultMap>

    <resultMap id="publishedVersionResultMap" type="com.sds.cmsclient.domain.PublishedVersion">
        <id property="publishedVersionIdx" column="published_version_idx"/>
        <result property="documentIdx" column="document_idx"/>
        <result property="versionLogIdx" column="version_log_idx"/>
        <result property="publishedVersionNameIdx" column="published_version_name_idx"/>
        <association property="document" javaType="com.sds.cmsclient.domain.Document">
            <id property="documentIdx" column="document_idx"/>
            <result property="hit" column="hit"/>
			<association property="folder" javaType="com.sds.cmsclient.domain.Folder">
				<id property="folderIdx" column="folder_idx"/>
			</association>        
		</association>
        <association property="versionLog" javaType="com.sds.cmsclient.domain.VersionLog">
            <id property="versionLogIdx" column="version_log_idx"/>
            <result property="version" column="version"/>
            <result property="regdate" column="regdate"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
            <result property="comments" column="comments"/>
        </association>
    </resultMap>

    <select id="getPublishedVersionByDocumentIdx" parameterType="int" resultMap="publishedVersionResultMap">
        SELECT
            p.published_version_idx,
            p.document_idx,
            p.version_log_idx,
            p.published_version_name_idx,
            d.document_idx,
            d.hit,
            d.folder_idx,
            v.version_log_idx,
            v.document_idx,
            v.version,
            v.regdate,
            v.title,
            v.content,
            v.comments
        FROM published_version p
        JOIN document d ON p.document_idx = d.document_idx
        JOIN version_log v ON p.version_log_idx = v.version_log_idx
        WHERE d.folder_idx = #{folder.folderIdx} OR p.document_idx = #{documentIdx}
    </select>
	
</mapper>