<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmsdocument.model.document.DocumentDAO">
	
	<select id="selectByDocumentIdx" parameterType="int" resultType="Document">
		select * from document where document_idx = #{documentIdx}
	</select>
	
	<resultMap type="Document" id="DocumentMap">
		<id column="document_idx" property="documentIdx"/>
		<association column="folder_idx" property="folder" javaType="Folder"
			select="com.sds.cmsdocument.model.folder.FolderDAO.select"/>
	</resultMap>
	
	<select id="select" parameterType="int" resultMap="DocumentMap">
		select * from document where document_idx = #{documentIdx}
	</select>
	
	<select id="selectAll" resultMap="DocumentMap">
		select * from document
	</select>
	
    <!-- 문서 삽입 -->
    <insert id="documentInsert" parameterType="Document">
        INSERT INTO document (folder_idx) VALUES (#{folder.folderIdx})
        <selectKey keyColumn="document_idx" keyProperty="documentIdx" resultType="int" order="AFTER">
			select last_insert_id() as document_idx
		</selectKey>
    </insert>
    
    <!-- 버전로그 삽입 -->
    <insert id="versionInsert" parameterType="VersionLog">
<!--     INSERT INTO version_log(branched_version_log_idx, emp_idx, project_idx, folder_idx, document_idx, version, title, content, comments) 
    VALUES (#{branched_version_log_idx},#{emp_idx},#{project_idx},#{folder_idx},#{document_idx},#{version}, #{title}, #{content}, #{comments});
     -->
    INSERT INTO version_log(emp_idx,document_idx,version,title,content,comments) 
    VALUES (7,#{document.documentIdx}, 1,#{title}, #{content},#{comments})
    
        <selectKey keyColumn="version_log_idx" keyProperty="versionLogIdx" resultType="int" order="AFTER">
			select last_insert_id() as version_log_idx
		</selectKey>
    </insert>
    
    <insert id="documentVersionInsert" parameterType="DocumentVersion">
    	insert into document_version (document_idx, version_log_idx, status_code, emp_idx, status_comments)
    	values (#{document.documentIdx}, #{versionLog.versionLogIdx}, 100, #{emp.empIdx}, #{statusComments})
    </insert>
	
	<!-- document/list 문서 리스트 조회 -->
	<resultMap type="DocumentVersion" id="DocumentListSelectMap">
		<id column="document_version_idx" property="documentVersionIdx"/>
		
		<association property="document" javaType="Document">
			<id property="documentIdx" column="document_idx"/>
			
			<association property="folder" javaType="Folder">
				<id property="folderIdx" column="folder_idx"/>
			</association>
		</association>
		
		<association property="versionLog" javaType="VersionLog">
			<id property="versionLogIdx" column="version_Log_Idx"/>
			<result property="version" column="version"/>
			<result property="title" column="title"/>
			<result property="regdate" column="regdate"/>
		</association>
		
		<association property="masterCode" javaType="MasterCode">
			<id property="statusCode" column="status_code"/>
			<result property="statusName" column="status_name"/>
		</association>
	</resultMap>
	
	
	<!-- 문서 목록 조회 -->
    <select id="documentListSelect" resultMap="DocumentListSelectMap" parameterType="java.util.Map">
        SELECT 
	        dv.document_version_idx,
	        dv.status_code,
	        d.document_idx,
	        d.folder_idx,
	        vl.version_log_idx,
	        vl.version,
	        vl.title,
	        vl.regdate,
	        mc.status_name
	    FROM Document_Version dv
	    JOIN Document d ON dv.document_idx = d.document_idx
	    JOIN Folder f ON d.folder_idx = f.folder_idx
	    JOIN Version_Log vl ON dv.version_log_idx = vl.version_log_idx
	    JOIN masterCode mc On dv.status_code = mc.status_code
	    where d.folder_idx = #{folderIdx};
    </select>
	
	<delete id="delete" parameterType="int">
		delete from document where document_idx = #{documentIdx}
	</delete>
	
	<select id="selectByFolderIdx" parameterType="int" resultMap="DocumentMap">
		select * from document where folder_idx = #{folderIdx}
	</select>
	
	<select id="selectAllWithRange" parameterType="java.util.Map" resultMap="DocumentListSelectMap">
		select * from document limit  #{startIndex} , #{rowCount}
	</select>

	
	<select id="selectDocumentIdxListInFolder" parameterType="java.util.List" resultType="Integer">
		select document_idx from document
		<if test="list != null">
			WHERE folder_idx 
			IN <foreach collection="list" item="folderIdx" open="(" close=")" separator="," >#{folderIdx}</foreach>
		</if>
	</select>
	
	<update id="update" parameterType="Document">
		update document
			<set>
				<if test="hit != null"> 
					hit = #{hit},
				</if>
				<if test="emp != null">
					emp_idx = #{emp.empIdx},
				</if>
				folder_idx = #{folder.folderIdx}
			</set>
		where document_idx = #{documentIdx}
	</update>
    
</mapper>