<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AdminLTE 3 | Dashboard</title>

<th:block th:replace="~{fragments/header_link :: header_link}" />
<link rel="stylesheet"
	href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
	href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet"
	href="/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<style>
a.show_list {
	color: black;
}
</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Preloader -->
		<th:block th:replace="~{fragments/preloader :: preloader}" />

		<!-- Navbar -->
		<th:block th:replace="~{fragments/navi :: navi}" />
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<th:block th:replace="~{fragments/admin_sidebar :: admin_sidebar}" />

		<!-- /.sidebar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">나의 활동</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard</li>
								<li class="breadcrumb-item active">나의 활동</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Nav tabs -->
					<div class="row">
						<div class="col-md-12">
							<ul class="nav nav-tabs">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#summary">요약 </a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#publish-list">배포 목록</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#review-list">리뷰 목록</a></li>
							</ul>
						</div>
					</div>
					<!-- Nav Tabs End -->

					<!-- Tab panes -->
					<div class="tab-content mt-3">
						<!-- Tab -->
						<div class="tab-pane container-fluid active" id="summary">						
							<div class="row">
								<div class="col-md-12">
									<!-- Card -->
									<div class="card">
										<div class="card-header">
											<h3 class="card-title"></h3>
											<div class="card-tools">
												<!-- from-group -->
												<div class="form-group mb-0">
													<!-- input-group -->
													<div class="input-group">
														<!-- button -->
														<button type="button" class="btn btn-default float-right"
															id="daterange-btn">
															<i class="far fa-calendar-alt"></i> 날짜 선택: <span></span>
															<i class="fas fa-caret-down"></i>
														</button>
													</div>
												</div>
												<!-- form-group end -->
											</div>
											<!-- card-tools end -->
										</div>
										<!-- card-header end -->
										<div class="card-body">

											<!-- row -->
											<div class="row">
												<!-- col -->
												<div class="col-md-6">
													<!-- Card -->
													<div class="card">
														<div class="card-header border-transparent">
															<h3 class="card-title">나의 업무</h3>
														</div>
														<!-- card-title end -->
														<div class="card-body">
															<!-- Row -->
															<div class="row">
																<div class="col-lg-6 col-12">
																	<div class="small-box bg-success">
																		<div class="inner">
																			<h3>7</h3>
																			<a class="show_list" href="#">리뷰 대기 문서 <i
																				class="fas fa-arrow-circle-right"></i>
																			</a>
																		</div>
																	</div>
																</div>
																<div class="col-lg-6 col-12">
																	<div class="small-box bg-info">
																		<div class="inner">
																			<h3>35</h3>
																			<a class="show_list" href="#">배포 대기 문서 <i
																				class="fas fa-arrow-circle-right"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- Row End -->
														</div>
													</div>
													<!-- Card End -->
												</div>
												<!-- col end -->

												<!-- col -->
												<div class="col-md-6">
													<!-- Card -->
													<div class="card">
														<div class="card-header border-transparent">
															<h3 class="card-title">나의 기여</h3>
														</div>
														<div class="card-body">
															<!-- Row -->
															<div class="row">
																<div class="col-lg-3 col-6">
																	<div class="small-box bg-warning">
																		<div class="inner">
																			<h3>25</h3>
																			<a class="show_list" href="#">수정 <i
																				class="fas fa-arrow-circle-right"></i>
																			</a>
																		</div>
																	</div>
																</div>
																<div class="col-lg-3 col-6">
																	<div class="small-box bg-success">
																		<div class="inner">
																			<h3>2</h3>
																			<a class="show_list" href="#">리뷰 <i
																				class="fas fa-arrow-circle-right"></i>
																			</a>
																		</div>
																	</div>
																</div>
																<div class="col-lg-3 col-6">
																	<div class="small-box bg-info">
																		<div class="inner">
																			<h3>5</h3>
																			<a class="show_list" href="#">배포 <i
																				class="fas fa-arrow-circle-right"></i>
																			</a>
																		</div>
																	</div>
																</div>
																<div class="col-lg-3 col-6">
																	<div class="small-box bg-danger">
																		<div class="inner">
																			<h3>5</h3>
																			<a class="show_list" href="#">반려 <i
																				class="fas fa-arrow-circle-right"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- Row End -->
														</div>
														<!-- Card body End -->
													</div>
													<!-- card end -->
												</div>
											</div>
											<!-- row end -->
										</div>
										<!-- card-body end -->
									</div>
									<!-- card end-->
								</div>
								<!-- col end -->
							</div>
							<!-- row end -->

							<!-- Row -->
							<div class="row">
								<div class="col-lg-12">
									<!-- Card -->
									<div class="card mt-3">
										<div class="card-header border-transparent">
											<h3 class="card-title">예) 배포 목록 미리보기 (위에서 '버튼' 클릭 시 비동기
												통신으로 목록이 조회되는 영역)</h3>
											<div class="card-tools">
												<a href="javascript:void(0)"
													class="btn btn-sm btn-secondary float-right">전체 목록 보기</a>
											</div>
										</div>
										<div class="card-body p-0">
											<div class="table-responsive">
												<table class="table table-hover m-0">
													<thead>
														<tr>
															<th>No.</th>
															<th>제목</th>
															<th>버전</th>
															<th>검토 사원</th>
															<th>초안 작성 사원</th>
															<th>결재 상태</th>
															<th>코멘트</th>
															<th>검토일자</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td><a href="#">제목 없음</a></td>
															<td>5</td>
															<td>박진영</td>
															<td>장원영</td>
															<td><span class="badge badge-success">리뷰 완료</span></td>
															<td><a href="#" title="" data-toggle="popover"
																data-trigger="hover" data-content="오타가 있어 수정했습니다.">
																	<span class="info-box-icon"> <i
																		class="fas fa-comments"></i>
																</span>
															</a></td>
															<td>2024-05-20 14:00</td>
														</tr>


														<tr>
															<td>1</td>
															<td><a href="#">제목 없음</a></td>
															<td>5</td>
															<td>박진영</td>
															<td>장원영</td>
															<td><span class="badge badge-success">리뷰 완료</span></td>
															<td><span class="info-box-icon"><i
																	class="fas fa-comments"></i></span></td>
															<td>2024-05-20 14:00</td>
														</tr>
														<tr>
															<td>1</td>
															<td><a href="#">제목 없음</a></td>
															<td>5</td>
															<td>박진영</td>
															<td>장원영</td>
															<td><span class="badge badge-success">리뷰 완료</span></td>
															<td><span class="info-box-icon"><i
																	class="fas fa-comments"></i></span></td>
															<td>2024-05-20 14:00</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- Card End -->
								</div>
								<!-- Col End -->
							</div>
							<!-- Row End -->

						</div>
						<!-- Tab End -->


						<!-- Tab -->
						<div class="tab-pane container-fluid fade" id="publish-list">
							<!-- Row -->
							<div class="row">
								<div class="col-md-12">

									<!-- Card -->
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">필터</h3>
											<div class="card-tools">
												<button class="btn btn-primary">조회하기</button>

											</div>
										</div>
										<div class="card-body">

											<div class="row">
												<div class="col-sm-4">조건 1</div>
												<div class="col-sm-8">
													<div class="form-group mb-0">
														<div class="input-group">
															<button type="button" class="btn btn-default float-right"
																id="daterange-btn2">
																<i class="far fa-calendar-alt"></i> 날짜 선택: <i
																	class="fas fa-caret-down"></i>
															</button>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-4">조건 2</div>

												<div class="col-sm-4">
													<div class="form-group clearfix">
														<div class="icheck-primary d-inline">
															<input type="radio" id="radioPrimary1" name="r1"
																checked=""> <label for="radioPrimary1">나의
																활동만 보기 </label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group clearfix">
														<div class="icheck-primary d-inline">
															<input type="radio" id="radioPrimary1" name="r1"
																checked=""> <label for="radioPrimary1">나의
																부서 활동 전체 보기 </label>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-4">조건 3</div>

												<div class="col-sm-4">
													<div class="form-group clearfix">
														<div class="icheck-primary d-inline">
															<input type="radio" id="radioPrimary2" name="r2"
																checked=""> <label for="radioPrimary2">배포
																대기 문서 </label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group clearfix">
														<div class="icheck-primary d-inline">
															<input type="radio" id="radioPrimary2" name="r2"
																checked=""> <label for="radioPrimary2">배포
																완료 문서 </label>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
									<!-- Card End -->

									<div class="card">
										<div class="card-header">
											<h3 class="card-title">배포 목록</h3>
											<div class="card-tools">
												<button class="btn btn-primary">배포하기</button>
											</div>
										</div>

										<div class="card-body">
											<div id="publish-table_wrapper"
												class="dataTables_wrapper dt-bootstrap4">

												<div class="row">
													<div class="col-sm-12">
														<table id="publish_table"
															class="table table-hover table-bordered dataTable dtr-inline">
															<thead>
																<tr>
																	<th>선택</th>
																	<th>No.</th>
																	<th>제목</th>
																	<th>버전</th>
																	<th>검토자</th>
																	<th>배포자</th>
																	<th>결재 상태</th>
																	<th>코멘트</th>
																	<th>배포일자</th>

																</tr>
															</thead>
															<tbody>
																<tr class="odd">
																	<td><input type="checkbox"></td>
																	<td>1</td>
																	<td>캐릭터 소개</td>
																	<td>3</td>
																	<td>장원영</td>
																	<td>박진영</td>
																	<td>published</td>
																	<td>코멘트</td>
																	<td>2024/03/01</td>
																</tr>
																<tr class="odd">
																	<td><input type="checkbox"></td>
																	<td class="dtr-control sorting_1">1</td>
																	<td>맵 소개</td>
																	<td>3</td>
																	<td>안유진</td>
																	<td>박진영</td>
																	<td>in review</td>
																	<td>코멘트</td>
																	<td>2024/03/02</td>
																</tr>
																<tr class="odd">
																	<td><input type="checkbox"></td>
																	<td class="dtr-control sorting_1">1</td>
																	<td>캐릭터 소개</td>
																	<td>3</td>
																	<td>장원영</td>
																	<td>이수만</td>
																	<td>published</td>
																	<td>코멘트</td>
																	<td>2024/04/02</td>
																</tr>

															</tbody>
														</table>
													</div>
												</div>

											</div>
										</div>

									</div>

								</div>
							</div>
							<!-- Row End -->

							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="card-header">시각화 보드</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="card card-row card-secondary">
														<div class="card-header">
															<h3 class="card-title">배포 대기</h3>
														</div>
														<div class="card-body">

															<div class="card card-light card-outline">
																<div class="card-header">
																	<h5 class="card-title">캐릭터 소개 (1)</h5>
																	<div class="card-tools">
																		<a href="#" class="btn btn-tool btn-link">#7</a> <a
																			href="#" class="btn btn-tool"> <i
																			class="fas fa-pen"></i>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- card end -->
												</div>

												<div class="col-md-6">
													<div class="card card-row card-info">
														<div class="card-header">
															<h3 class="card-title">배포 완료</h3>
														</div>
														<div class="card-body">

															<div class="card card-light card-outline">
																<div class="card-header">
																	<h5 class="card-title">오류 해결 (1)</h5>
																	<div class="card-tools">
																		<a href="#" class="btn btn-tool btn-link">#7</a> <a
																			href="#" class="btn btn-tool"> <i
																			class="fas fa-pen"></i>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- card end -->
												</div>

											</div>

										</div>

									</div>

								</div>
							</div>



						</div>
						<!-- Tab End -->


						<!-- Tab -->
						<div class="tab-pane container-fluid fade" id="review-list">
						</div>
						<!-- Tab End -->
					</div>
					<!-- Tab panes End -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<th:block th:replace="~{fragments/footer :: footer}" />

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<th:block th:replace="~{fragments/footer_link :: footer_link}" />

	<!-- data-table js 파일 -->
	<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script
		src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script
		src="/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script
		src="/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script
		src="/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="/admin/plugins/jszip/jszip.min.js"></script>
	<script src="/admin/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="/admin/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script
		src="/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>




	<script>
		$(function() {

			$("#publish_table").DataTable({

				ordering: true,
				serverSide: false
			});

			
			
			

			// 코멘트 툴팁 보기
			$('[data-toggle="popover"]').popover();

			// 날짜 선택: 디폴트로 "오늘" 표시
			$('#daterange-btn span').html("오늘");

			// 요약 탭 - Date range button
			$('#daterange-btn')
					.daterangepicker(
							{
								// 초기화
								startDate : moment(),
								endDate : moment(),

								// 라벨 설정
								ranges : {
									'오늘' : [ moment(), moment() ],
									'어제' : [ moment().subtract(1, 'days'),
											moment().subtract(1, 'days') ],
									'지난 7일' : [ moment().subtract(6, 'days'),
											moment() ],
									'지난 30일' : [ moment().subtract(29, 'days'),
											moment() ]
								},

								// [취소], [적용] 버튼 없음
								autoApply : true
							},
							function(start, end) {
								if (this.chosenLabel == "오늘") {
									$('#daterange-btn span').html("오늘");
								} else if (this.chosenLabel == "어제") {
									$('#daterange-btn span').html("어제");
								} else {
									$('#daterange-btn span').html(
											start.format('YYYY/MM/DD') + ' - '
													+ end.format('YYYY/MM/DD'));
								}

								$.ajax({
									type : 'GET',
									url : '/test/daterange',
									data : {
										startDate : start.format('YYYY/MM/DD'),
										endDate : end.format('YYYY/MM/DD')
									},
									success : function(result, status, xhr) {
										alert("성공");
									},
									error : function(xhr, status, err) {
										alert("실패");
									}

								});
							});

		});
	</script>

</body>

</html>