<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dashboard | 나의 활동</title>

<!-- data-table css -->
<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- select2 css -->	
<link rel="stylesheet" href="/admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<th:block th:replace="~{fragments/header_link :: header_link}" />

<style>
button.show_list {
	border: 0;
	background-color: transparent;
	color: white;
	cursor: pointer;
}

button.show_list:hover {
	color: blue;
}
</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Preloader -->
		<th:block th:replace="~{fragments/preloader :: preloader}" />

		<!-- Navbar -->
		<th:block th:replace="~{fragments/navi :: navi}" />
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<th:block th:replace="~{fragments/sidebar :: sidebar}" />

		<!-- /.sidebar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">나의 활동</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard</li>
								<li class="breadcrumb-item active">나의 활동</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Nav tabs -->
					<div class="row">
						<div class="col-md-12">
							<ul class="nav nav-tabs">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#summary">요약 </a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#entire-list">전체 보기</a></li>
							</ul>
						</div>
					</div>
					<!-- Nav Tabs End -->

					<!-- Tab panes -->
					<div class="tab-content mt-3">

						<!-- Tab -->
						<div class="tab-pane container-fluid active" id="summary">
							<!-- Row -->
							<div class="row">
								<div class="col-lg-4 col-12">
									<div id="box-inreview" class="small-box bg-success">
										<div class="inner">
											<h3></h3>
											<button id="btn-inreview" class="show_list">
												리뷰 대기 문서 <i class="fas fa-arrow-circle-right"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-12">
									<div id="box-reviewed" class="small-box bg-info">
										<div class="inner">
											<h3></h3>
											<button id="btn-reviewed" class="show_list">
												리뷰 완료 문서 <i class="fas fa-arrow-circle-right"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-12">
									<div id="box-rejected" class="small-box bg-danger">
										<div class="inner">
											<h3></h3>
											<button id="btn-rejected" class="show_list">
												반려 문서 <i class="fas fa-arrow-circle-right"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Row end -->

							<!-- Row -->
							<div class="row">
								<div class="col-lg-12">
									<!-- Card -->
									<div class="card mt-3">
										<div class="card-header border-transparent">
											<h3 class="card-title">목록 *최신 10개까지 표시됩니다.</h3>
											<div class="card-tools">
												<!-- input-group -->
												<div class="input-group">
													<!-- button -->
													<button type="button" class="btn btn-default float-right"
														id="goToEntireList">전체 보기</button>
												</div>
											</div>
										</div>
										<div class="card-body p-0">
											<div class="table-responsive">
												<table id="table-preview" class="table table-hover m-0">
													<thead>
														<tr>
															<th>No.</th>
															<th>제목</th>
															<th>버전</th>
															<th>사원</th>
															<th>결재 상태</th>
															<th>코멘트</th>
															<th>일자</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- Card End -->
								</div>
								<!-- Col End -->
							</div>
							<!-- Row End -->
						</div>
						<!-- Tab End -->

						<!-- Tab -->
						<div class="tab-pane container-fluid fade" id="entire-list">
							<!-- Row -->
							<div class="row">
								<div class="col-md-12">
									<!-- Card -->
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">필터</h3>
											<div class="card-tools">
												<button id="btn-filtered" class="btn btn-primary">조회하기</button>
											</div>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-sm-2">날짜</div>
												<div class="col-sm-2">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-date-all" name="date-filter"
															value="radio-date-all" checked> <label
															for="radio-date-all">전체 보기 </label>
													</div>
												</div>
												<div class="col-sm-8">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-date-custom"
															name="date-filter" value="radio-date-select" >
														<label for="radio-date-custom">날짜 선택 </label>
													</div>
													<div>
														<!-- button -->
														<button type="button" class="btn btn-default" id="daterange-btn">
															<i class="far fa-calendar-alt"></i> 
															날짜 선택: <span></span> 
															<i class="fas fa-caret-down"></i>
														</button>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-2">프로젝트</div>
												<div class="col-sm-2">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-project-all"
															name="project-filter" value="radio-project-all" checked> <label
															for="radio-project-all">전체 보기 </label>
													</div>
												</div>
												<div class="col-sm-8">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-project-select"
															name="project-filter" value="radio-project-select" > <label
															for="radio-project-select">프로젝트 선택</label>
													</div>
			                                        <div class="form-group">
			                                            <select id="project-tag" name="project-tag" 
			                                            	class="select2 form-control" multiple="multiple" data-placeholder="추가할 프로젝트 (다중)선택" 
			                                            	style="width: 100%;">
			                                            </select>
			                                        </div>
												</div>
											</div>

											<!-- <div class="row">
												<div class="col-sm-3">사원</div>
												<div class="col-sm-3">
														<div class="icheck-primary d-inline">
															<input type="radio" id="radio-emp-all" name="emp-filter"
																checked=""> <label for="radio-emp-all">전체 보기 </label>
														</div>
												</div>
												<div class="col-sm-3">
														<div class="icheck-primary d-inline">
															<input type="radio" id="radio-emp-me" name="emp-filter" value=""
																checked=""> 
																<label for="radio-emp-me">나의
																활동만 보기 </label>
														</div>
												</div>
												<div class="col-sm-3">
														<div class="icheck-primary d-inline">
															<input type="radio" id="radio-emp-dept" name="emp-filter" value=""
																checked=""> <label for="radio-emp-dept">나의
																부서 활동 전체 보기 </label>
														</div>
												</div>
											</div> -->

											<div class="row">
												<div class="col-sm-2">결재 상태</div>
												<div class="col-sm-2">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-status-all"
															name="status-filter" value="radio-status-all" checked=""> <label
															for="radio-status-all">전체 보기 </label>
													</div>
												</div>
												<div class="col-sm-8">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-status-select"
															name="status-filter" value="radio-status-select" > <label
															for="radio-status-select">결재 상태 선택</label>
													</div>
			                                        <div class="form-group">
			                                            <select id="status-tag" name="status-tag" 
			                                            	class="select2 form-control" multiple="multiple" data-placeholder="결재 상태 (다중)선택" 
			                                            	style="width: 100%;">
			                                            </select>
			                                        </div>
			                                    </div>
												
<!-- 													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-status-inreview"
															name="status-filter" value="radio-status-inreview" > <label
															for="radio-status-inreview">리뷰 대기 문서 </label>
													</div>
												<div class="col-sm-2">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-status-reviewed"
															name="status-filter" value="radio-status-reviewed"> <label
															for="radio-status-reviewed">리뷰 완료 문서 </label>
													</div>
												</div>
												<div class="col-sm-2">
													<div class="icheck-primary d-inline">
														<input type="radio" id="radio-status-rejected"
															name="status-filter" value="radio-status-rejected"> <label
															for="radio-status-rejected">반려 문서 </label>
													</div>
												</div> -->
											</div>
										</div>
										<!-- card-body end -->
									</div>
									<!-- Card End -->

									<!-- table wrapper -->
									<div id="publish-table_wrapper"
										class="dataTables_wrapper dt-bootstrap4">
										<div class="row">
											<div class="col-sm-12">
												<table id="table-filtered"
													class="bg-white table table-hover table-bordered dataTable dtr-inline">
													<thead>
														<tr>
															<th>선택</th>
															<th>No.</th>
															<th>제목</th>
															<th>버전</th>
															<th>부서</th>
															<th>사원</th>
															<th>결재 상태</th>
															<th>코멘트</th>
															<th>일자</th>
														</tr>
													</thead>
													<tbody>

													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- table wrapper end -->
								</div>
								<!-- col end -->
							</div>
							<!-- Row end -->
						</div>
						<!-- Tab End -->

					</div>
					<!-- Tab panes End -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<th:block th:replace="~{fragments/footer :: footer}" />

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<th:block th:replace="~{fragments/footer_link :: footer_link}" />

	<!-- select2 js 파일 -->
    <script src="/admin/plugins/select2/js/select2.full.min.js"></script>
	<!-- datatables js 파일 -->
	<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="/admin/plugins/jszip/jszip.min.js"></script>
	<script src="/admin/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="/admin/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	<script>
		/* 데이터테이블 한국어 */
	    var datatable_ko = {        
	        "decimal" : "",       
	        "emptyTable" : "데이터가 없습니다.",        
	        "info" : "_START_ - _END_ (총 _TOTAL_ 개)",        
	        "infoEmpty" : "0개",        
	        "infoFiltered" : "(전체 _MAX_ 개 중 검색결과)",       
	        "infoPostFix" : "",        
	        "thousands" : ",",        
	        "lengthMenu" : "_MENU_ 개씩 보기",        
	        "loadingRecords" : "로딩중...",        
	        "processing" : "처리중...",        
	        "search" : "검색 : ",        
	        "zeroRecords" : "검색된 데이터가 없습니다.",        
	        "paginate" : {            
	            "first" : "첫 페이지",            
	            "last" : "마지막 페이지",            
	            "next" : "다음",            
	            "previous" : "이전"        
	        },        
	        "aria" : {           
	             "sortAscending" : " :  오름차순 정렬",            
	            "sortDescending" : " :  내림차순 정렬"        
	            }
			};

		/* 결재 상태에 따른 문서 개수만 가져오기 */
		function getSummaryCount(statusCode) {
			$.ajax({
				type:"GET"  //전송타입
				, url:"/dashboard/summary/count"
				, success: function (result, status, xhr) {
						$("#box-inreview h3").html(result.inReview); // 리뷰 대기 문서 수 표시
						$("#box-reviewed h3").html(result.reviewed); // 리뷰 완료 문서 수 표시
						$("#box-rejected h3").html(result.rejected); // 반려 문서 수 표시
					}, error: function (xhr, status, e) {
					console.log("error", e);
				}
			});
		}
		
		/* 결재 상태에 따라 문서 목록 데이터 가져오기 (10개까지만) */
		function getSummaryData(statusCode) {
			$.ajax({
				type: "GET",
				url: "/dashboard/summary/list?statusCode=" + statusCode,
				success: function (result, status, xhr) {
					// alert('문서 불러오기 성공');
					// 테이블 초기화
					let preview = $("#table-preview tbody");					
					preview.empty(); 
					let tr = "";
					if (result.length == 0) tr += "<tr><td colspan='6'>내용이 없습니다.</td></tr>";
					
					// 배지 색 한번만 결정
					let statusBadge = null;
					if (statusCode == 200) statusBadge = "badge-success";
					else if (statusCode == 300) statusBadge = "badge-info";
					else if (statusCode == 500) statusBadge = "badge-danger";
					
					// 차후 10건까지만 보여주는 것으로 변경 예정
					for (let i = 0; i < result.length; i++) {
						tr += `
							<tr>
							<td>${i+1}</td>
							<td><a href="#">${result[i].documentIdx}. ${result[i].title}</a><br>${result[i].projectName}, ${result[i].folderName}</td>
							<td>${result[i].version}</td>
							<td>${result[i].empName}<br>${result[i].deptName}</td>
							<td><span class="badge ${statusBadge}">${result[i].statusName}</span></td>
							<td>${result[i].comments}
							</td>
							<td>${result[i].regdate}</td>
						</tr>
						`;
					}
					preview.html(tr);
				}, error: function (xhr, status, e) {
					console.log("error", e);
				}
			});
		}
		
		/* 필터에 따라 문서 목록 가져오기 */
		function getFilteredData(statusCodeList, startDate, endDate, projectIdxList) {
			
			let url = "/dashboard/entire/list?";
			if (statusCodeList != null) url += "&statusCodeList=" + statusCodeList;
			if (projectIdxList != null) url += "&projectIdxList=" + projectIdxList;
			if (startDate != null && endDate != null) url += "&startDate=" + startDate + "&endDate=" + endDate;
			
			$.ajax({
				type: "GET",
				url: url,
				success: function (result, status, xhr) {
					// alert('문서 불러오기 성공');
					// 테이블 초기화
				 	$("#table-filtered").DataTable().destroy();
					let preview = $("#table-filtered tbody");
					preview.empty();
					let tr = "";
					
					for (let i = 0; i < result.length; i++) {
						// 배지 색 정하기
						let statusBadge = null; 
						if (result[i].statusCode == 200) statusBadge = "badge-success";
						else if (result[i].statusCode == 300) statusBadge = "badge-info";
						else if (result[i].statusCode == 500) statusBadge = "badge-danger";
						
						// 테이블 행 추가
						tr += `
							<tr>
							<td><input type="checkbox" name="checked-documenet"></td>
							<td>${i+1}</td>
							<td><a href="#">${result[i].documentIdx}. ${result[i].title}</a><br>${result[i].projectName}</td>
							<td>${result[i].version}</td>
							<td>${result[i].deptName}</td>
							<td>${result[i].empName}</td>
							<td><span class="badge ${statusBadge}">${result[i].statusName}</span></td>
							<td>${result[i].comments}
							</td>
							<td>${result[i].regdate}</td>
						</tr>
						`;
					}
					preview.html(tr); 
					
					// 데이터 테이블 적용
					$("#table-filtered").DataTable({
						ordering: true,
						serverSide: false,
						language : datatable_ko
					});
				}, error: function (xhr, status, e) {
					console.log("error", e);
				}
			});
		}

		/* 프로젝트 목록 조회 */
	   function loadProject() {
	        $.ajax({
	            type: "GET",
	            url: "/admin/project/list",
	            success: function(result) {
	                $('#project-tag').empty(); // 기존 옵션들을 모두 지우기
	                	for (let i = 0; i < result.length; i++) {
	                    	$('#project-tag').append('<option value="' + result[i].projectIdx + '">' + result[i].projectName + '</option>');
	                	}
	                $('#project-tag').prop('disabled', true);
	            }, error: function(xhr, status, error) {
	                console.error("Failed to load projects: " + error);
	            }
	        });
	    } 
		
		/* 상태 목록 조회 */
	   function loadStatus() {
	        $.ajax({
	            type: "GET",
	            url: "/admin/status/list",
	            success: function(result) {
	                $('#status-tag').empty(); // 기존 옵션들을 모두 지우기
	                	for (let i = 0; i < result.length; i++) {
	                    	$('#status-tag').append('<option value="' + result[i].statusCode + '">' + result[i].statusName + '</option>');
	                	}
	                $('#status-tag').prop('disabled', true);
	            }, error: function(xhr, status, error) {
	                console.error("Failed to load status list: " + error);
	            }
	        });
	    } 

		$(function() {
			/* [요약 탭] 초기화 */
			getSummaryCount(); 	// 결재 상태별 문서 수 표시
			getSummaryData(200); // 리뷰 대기 문서 목록 표시
			
			$('#btn-inreview').click(function(){ getSummaryData(200);}); // 리뷰 대기 문서 미리보기 버튼 클릭 시 목록 가져오기
 			$('#btn-reviewed').click(function(){ getSummaryData(300);}); // 리뷰 완료 문서 미리보기 버튼 클릭 시 목록 가져오기
 			$('#btn-rejected').click(function(){ getSummaryData(500);}); // 반려 문서 미리보기 버튼 클릭 시 목록 가져오기
 			
			/* [전체보기 탭] 초기화 */
            $('#project-tag').select2(); // 부서 선택 폼 플러그인 활성화
	        loadProject(); // 전체 부서 목록 불러오기
            $('#status-tag').select2(); // 부서 선택 폼 플러그인 활성화
           	loadStatus(); // 전체 상태 목록 불러오기

           	/* 날짜 선택 폼 설정 */
			let dateRangePicker_startDate = null;
			let dateRangePicker_endDate = null;		
			
			$('#daterange-btn').daterangepicker({ 	// 날짜 선택 폼 플러그인 활성화
					language : "ko",
					ranges : {
						'오늘' : [ moment(), moment() ],
						'어제' : [ moment().subtract(1, 'days'), moment().subtract(1, 'days') ],
						'지난 7일' : [ moment().subtract(6, 'days'), moment() ],
						'지난 30일' : [ moment().subtract(29, 'days'), moment() ],
					},
					autoApply : true // [취소], [적용] 버튼 없음
				}, function(start, end) {
					//alert(start.format("ll") + "-" + end.format("ll")); // 날짜 선택 확인용 메시지
					dateRangePicker_startDate = start.format("YYYY-MM-DD hh:mm:ss");
					dateRangePicker_endDate = end.format("YYYY-MM-DD hh:mm:ss");
					
					if (this.chosenLabel == "오늘") {
						$('#daterange-btn span').html("오늘");
					} else if (this.chosenLabel == "어제") {
						$('#daterange-btn span').html("어제");
					} else {
						$('#daterange-btn span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
					}
				});
			
			/* 필터 라디오 버튼에 따른 선택 박스 활성화 조건 */
			$("input#radio-project-select").click(function(){ $('#project-tag').prop('disabled', false); })
			$("input#radio-project-all").click(function(){ $('#project-tag').prop('disabled', true); })
			$("input#radio-status-select").click(function(){ $('#status-tag').prop('disabled', false); })
			$("input#radio-status-all").click(function(){ $('#status-tag').prop('disabled', true); })
			
			/* 필터 적용 후 조회 버튼 클릭 이벤트 */
			$('#btn-filtered').click(function(){
				// 선택된 라디오 버튼 값 저장
				let filter_date = document.querySelector("input[name='date-filter']:checked").value;
				let filter_project = document.querySelector("input[name='project-filter']:checked").value;
				let filter_status = document.querySelector("input[name='status-filter']:checked").value;
				
				let statusCodeList = null; // 상태 정보
				if (filter_status == "radio-status-select")
					statusCodeList = $('#status-tag').val(); 
				alert("선택된 상태 코드: " + statusCodeList);
				
				let startDate, endDate = null; // 날짜 정보
				if (filter_date == "radio-date-select") {
					startDate = dateRangePicker_startDate;
					endDate = dateRangePicker_endDate;
				} 
				alert("선택된 날짜: " + startDate + "-" +endDate)
				
				let projectIdxList = null; // 프로젝트 정보
				if (filter_project == "radio-project-select")			
					projectIdxList = $('#project-tag').val(); 
				alert("선택된 프로젝트: " + projectIdxList);
				
				getFilteredData(statusCodeList, startDate, endDate, projectIdxList); // 필터 처리된 목록 조회
			});
		});
	</script>

</body>

</html>
