<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    <th:block th:replace="~{fragments/header_link :: header_link}" />

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <th:block th:replace="~{fragments/preloader :: preloader}" />

        <!-- Navbar -->
        <th:block th:replace="~{fragments/navi :: navi}" />
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <th:block th:replace="~{fragments/admin_sidebar :: admin_sidebar}" />

        <!-- /.sidebar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">문서 통계</h1>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                                <li class="breadcrumb-item active">문서 통계</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                
                	<!-- Row -->
							<div class="row">
								<div class="col-md-12">

									<!-- Card -->
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">필터</h3>
																						<div class="card-tools">
												<button class="btn btn-primary">조회하기</button>

											</div>
										</div>
										<div class="card-body">

											<div class="row">
												<div class="col-sm-4">조건 1</div>
												<div class="col-sm-8">
													배포판 선택
												</div>
											</div>

											<div class="row">
												<div class="col-sm-4">조건 2</div>
												<div class="col-sm-8">
													프로젝트 선택
												</div>
												
											</div>

											<div class="row">
												<div class="col-sm-4">조건 3</div>
												<div class="col-sm-8">
													정렬 방식 선택
												</div>
											</div>

										</div>
									</div>
									<!-- Card End -->

								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<!-- Card -->
									<div class="card mt-3">
										<div class="card-header border-transparent">
											<h3 class="card-title">예) 문서 목록 (위에서 '버튼' 클릭 시 비동기
												통신으로 목록이 조회되는 영역)</h3>
										</div>
										<div class="card-body p-0">
											<div class="table-responsive">
											
												<table id="example1"
										class="table table-hover table-bordered table-striped dataTable dtr-inline"
										aria-describedby="example1_info">
										<thead>
											<tr>
												<th>No.</th>
												<th class="sorting sorting_asc" tabindex="0"
													aria-controls="example1" rowspan="1" colspan="1"
													aria-label="Browser: activate to sort column descending"
													aria-sort="ascending">제목</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending">
													조회수</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending">
													좋아요 수</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td class="dtr-control sorting_1"><a href="#">제목 없음</a></td>
												<td>4</td>
												<td>5</td>
											</tr>
																						<tr>
												<td>1</td>
												<td class="dtr-control sorting_1"><a href="#">제목 없음</a></td>
												<td>4</td>
												<td>5</td>
											</tr>
																						<tr>
												<td>1</td>
												<td class="dtr-control sorting_1"><a href="#">제목 없음</a></td>
												<td>4</td>
												<td>5</td>
											</tr>
											
										</tbody>

									</table>
											</div>
										</div>
									</div>
								
									
								</div>
							</div>
							
							
							<div class="row">
								<div class="col-sm-12 col-md-5">
									<div class="dataTables_info" id="example1_info" role="status"
										aria-live="polite">Showing 1 to 10 of 57 entries</div>
								</div>
								<div class="col-sm-12 col-md-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="example1_paginate">
										<ul class="pagination">
											<li class="paginate_button page-item previous disabled"
												id="example1_previous"><a href="#"
												aria-controls="example1" data-dt-idx="0" tabindex="0"
												class="page-link">Previous</a></li>
											<li class="paginate_button page-item active"><a href="#"
												aria-controls="example1" data-dt-idx="1" tabindex="0"
												class="page-link">1</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="example1" data-dt-idx="2" tabindex="0"
												class="page-link">2</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="example1" data-dt-idx="3" tabindex="0"
												class="page-link">3</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="example1" data-dt-idx="4" tabindex="0"
												class="page-link">4</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="example1" data-dt-idx="5" tabindex="0"
												class="page-link">5</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="example1" data-dt-idx="6" tabindex="0"
												class="page-link">6</a></li>
											<li class="paginate_button page-item next" id="example1_next"><a
												href="#" aria-controls="example1" data-dt-idx="7"
												tabindex="0" class="page-link">Next</a></li>
										</ul>
									</div>
								</div>
							</div>
                
        		</div>
        <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="~{fragments/footer :: footer}" />

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <th:block th:replace="~{fragments/footer_link :: footer_link}" />

</body>

</html>