<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AdminLTE 3 | Dashboard</title>

<th:block th:replace="~{fragments/header_link :: header_link}" />

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Preloader -->
		<th:block th:replace="~{fragments/preloader :: preloader}" />

		<!-- Navbar -->
		<th:block th:replace="~{fragments/navi :: navi}" />
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<th:block th:replace="~{fragments/admin_sidebar :: admin_sidebar}" />

		<!-- /.sidebar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper kanban">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">칸반 보드</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard</li>
								<li class="breadcrumb-item active">칸반 보드</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content pb-3">
			
			
				<div class="container-fluid m-0">
									<!-- row -->
					<div class="row m-0">
					
					<div class="col-md-6">
						<!-- from-group -->
						<div class="form-group">
							<!-- input-group -->
							<div class="input-group">
								<!-- button -->
								<button type="button" class="btn btn-default float-right"
									id="daterange-btn">
									<i class="far fa-calendar-alt"></i> 날짜 선택: <span></span> <i
										class="fas fa-caret-down"></i>
								</button>
							</div>
						</div>
						<!-- form-group end -->
</div>
					<div class="col-md-6">
						<button class="btn btn-primary">전체 보기</button>
</div>
					</div>
				</div>
			
			
				<div class="container-fluid h-100">
					
					<div class="card card-row card-secondary">
						<div class="card-header">
							<h3 class="card-title">초안</h3>
						</div>
						<div class="card-body">

							<div class="card card-light card-outline">
								<div class="card-header">
									<h5 class="card-title">Create Actions</h5>
									<div class="card-tools">
										<a href="#" class="btn btn-tool btn-link">#7</a> <a href="#"
											class="btn btn-tool"> <i class="fas fa-pen"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-row card-warning">
						<div class="card-header">
							<h3 class="card-title">리뷰 중</h3>
						</div>
						<div class="card-body">
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h5 class="card-title">Create first milestone</h5>
									<div class="card-tools">
										<a href="#" class="btn btn-tool btn-link">#5</a> <a href="#"
											class="btn btn-tool"> <i class="fas fa-pen"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-row card-success">
						<div class="card-header bg-info">
							<h3 class="card-title">리뷰 완료</h3>
						</div>
						<div class="card-body">
							<div class="card card-light card-outline">
								<div class="card-header">
									<h5 class="card-title">Update Readme</h5>
									<div class="card-tools">
										<a href="#" class="btn btn-tool btn-link">#2</a> <a href="#"
											class="btn btn-tool"> <i class="fas fa-pen"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-row card-info">
						<div class="card-header">
							<h3 class="card-title">배포 완료</h3>
						</div>
						<div class="card-body">
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h5 class="card-title">Create repo</h5>
									<div class="card-tools">
										<a href="#" class="btn btn-tool btn-link">#1</a> <a href="#"
											class="btn btn-tool"> <i class="fas fa-pen"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- /.content-wrapper -->

		<th:block th:replace="~{fragments/footer :: footer}" />

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<th:block th:replace="~{fragments/footer_link :: footer_link}" />
		<script>
        $(function () {

            $('[data-toggle="popover"]').popover();

            // 요약 탭 - Date range button
            $('#daterange-btn')
                .daterangepicker(
                    {

                        // 초기화
                        startDate: moment(),
                        endDate: moment(),

                        // 라벨 설정
                        ranges: {
                            '오늘': [moment(), moment()],
                            '어제': [moment().subtract(1, 'days'),
                            moment().subtract(1, 'days')],
                            '지난 7일': [moment().subtract(6, 'days'),
                            moment()],
                            '지난 30일': [moment().subtract(29, 'days'),
                            moment()]
                        },

                        // [취소], [적용] 버튼 없음
                        autoApply: true
                    },
                    function (start, end) {

                        $('#daterange-btn span').html(
                            start.format('YYYY/MM/DD') + ' - '
                            + end.format('YYYY/MM/DD'));

                        $.ajax({
                            type: 'GET',
                            url: '/test/daterange',
                            data: {
                                startDate: start.format('YYYY/MM/DD'),
                                endDate: end.format('YYYY/MM/DD')
                            },
                            success: function (result, status, xhr) {

                                alert("성공");

                            },
                            error: function (xhr, status, err) {
                                alert("실패");
                            }

                        });
                    });
            
        });
        
        </script>

</body>

</html>