<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Document | 수정</title>

<th:block th:replace="~{fragments/header_link :: header_link}" />
<style>
.popup {
	display: none;
	position: absolute;
	top: 40px; /* 버튼 아래에 위치 */
	right: 80px;
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.popup button {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.timeline-wrapper {
	height: 100%; /* 원하는 높이로 설정 */
	overflow-y: auto; /* 세로 스크롤 활성화 */
}
</style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Preloader -->
		<th:block th:replace="~{fragments/preloader :: preloader}" />

		<!-- Navbar -->
		<th:block th:replace="~{fragments/navi :: navi}" />
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<th:block th:replace="~{fragments/sidebar :: sidebar}" />

		<!-- /.sidebar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col d-flex align-items-center">
						<h4 class="mb-0">글 작성</h4>
					</div>
					<div class="col-6">
						<div class="float-right">


							<button type="button" class="btn btn-default" id="document_list"
								onclick="getList();">
								<i class="far fa-list-alt"></i>목록
							</button>

							<button type="button" class="btn btn-default" id="draftButton">
								<i class="fas fa-save"></i> 저장
							</button>

							<!-- draft 창 -->
							<div class="popup" id="draftPopup">
								<button type="button" class="btn btn-secondary" id="bt_save">저장</button>
							</div>
						</div>

					</div>
					<div class="col-md-12">
						<div class="card card-outline card-info">
							<form id="form1">
								<input type="hidden" id="folderIdx" name="document.folder.folderIdx" th:value="${folderIdx}">
								<input type="hidden" id="documentIdx" name="versionLog.document.documentIdx" th:value="${documentIdx}"> 
								<input type="hidden" id="versionLogIdx" name="versionLog.versionLogIdx" th:value="${versionLogIdx}"> 
								<input type="hidden" name="versionLog.emp.empIdx" id="empIdxInput" th:value="${empIdx}" />
								
								<div class="card-header">
									<div class="col-sm-12">
										<input type="text" name="versionLog.title"
											class="form-control" id="" placeholder="제목..."
											th:value="${documentVersion.versionLog.title}">
									</div>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<textarea name="versionLog.content" id="summernote" rows="6"
										th:text="${documentVersion.versionLog.content}">
					             </textarea>
								</div>
								<div class="card-footer">
									<div class="col-sm-12">
										<h5>Comments</h5>
										<textarea name="versionLog.comments" id="comments" rows="2"
											class="form-control"
											th:text="${documentVersion.versionLog.comments}"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /.col-->
				</div>
				<!-- ./row -->
			</section>
		</div>
		<!-- /.content-wrapper -->

		<th:block th:replace="~{fragments/footer :: footer}" />

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<th:block th:replace="~{fragments/footer_link :: footer_link}" />

	<!-- footerScript -->
	<th:block th:replace="~{fragments/footer_script :: footer_script}" />

	<script type="text/javascript">
		$(function() {
			// Summernote276
			summernote();
			draftBtn();

			$("#bt_save").click(function() {
				edit();
			});
		})

		$(window).on('beforeunload', function(e) {
			// AJAX 요청을 비동기적으로 보냄
			$.ajax({
				url : "/file/document/releaseEditing",
				type : "POST",
				async : true, // 동기적 요청으로 변경
				data : {
					documentIdx : $("#documentIdx").val()
				},
				success : function(response) {
					console.log("수정 중 상태 해제 완료");
				},
				error : function(xhr, status, error) {
					console.error("AJAX 오류 발생: " + error);
				}
			});

			// 사용자에게 경고 메시지를 표시하여 페이지를 떠날 때 확인을 요청
			var confirmationMessage = "이 페이지를 떠나면 수정 중인 상태가 해제됩니다.";
			e.returnValue = confirmationMessage;
			return confirmationMessage;
		});

		// 확인 버튼을 눌렀을 때의 처리
		$(window).on('unload', function() {
			// 여기에 추가적인 처리를 할 수 있습니다.
			console.log("페이지를 떠납니다.");
		});

		function edit() {
			// 서머노트의 현재 내용을 HTML 형식으로 가져옴
			var htmlContent = $('#summernote').summernote('code');

			// 가져온 HTML 내용을 해당 폼의 textarea에 설정.
			// 폼 데이터에 서머노트의 내용이 HTML 형식으로 포함됨
			$('textarea[name="versionLog.content"]').html(htmlContent);

			$.ajax({
				url : "/file/document/edit",
				type : "post",
				data : $("#form1").serialize(),
				success : function(result, status, xhr) { //200
					alert("성공");
					location.href = "/file/document/detail?documentIdx="
							+ $("#documentIdx").val() + "&folderIdx="
							+ $("#folderIdx").val();
					//location.href="/file/document/detail?folder_idx="+$("#folder_idx").val();
				},
				error : function(xhr, status, err) {
					alert("등록실패");
				}
			})
		}

		function summernote() {
			$('#summernote').summernote({
				height : 300, // 에디터 높이
				minHeight : null, // 최소 높이
				maxHeight : null, // 최대 높이
				focus : true, // 에디터 로딩후 포커스를 맞출지 여부
				lang : "ko-KR", // 한글 설정
				placeholder : '내용을 입력하세요.' //placeholder 설정

			});
		}

		function draftBtn() {
			// Draft 창 스크립트
			$('#draftButton').click(function() {
				$('#draftPopup').toggle();
			});
		}

		function getList() {
			location.href = "/file/document/list?folderIdx="
					+ $("#folderIdx").val();
		}

		//빈공간 클릭시 draft or version sidebar 비활성화 스크립트
		$(document).ready(
				function() {
					$(document).click(
							function(event) {
								if (!$(event.target).closest(
										'#draftButton, #draftPopup').length) {
									$('#draftPopup').hide();
								}
							});

				});
	</script>
</body>
</html>