<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML Exercises</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 70px;
      text-align: center;
    }
    .exercise-card {
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <th:block th:replace="~{fragments/header :: header}" />

  <div class="container">
    <div class="row">
    
    <!-- 반복문 -->
      <div class="col-md-4 exercise-card" th:each="project, i: ${project}">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" th:text="${project.projectName}">HTML Basics</h5>
        	<a th:href="@{/document/project(projectIdx=${project.projectIdx})}" class="btn btn-primary">열기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="~{fragments/footer_link :: footer_link}" />
</body>
</html>
