<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>

	<th:block th:replace="~{fragments/header_link :: header_link}"/>
	
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <th:block th:replace="~{fragments/preloader :: preloader}"/>
	
  <!-- Navbar -->
	<th:block th:replace="~{fragments/navi :: navi}"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="~{fragments/sidebar :: sidebar}"/>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">일반 설정</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Settings</a></li>
              <li class="breadcrumb-item active">General</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
	    <div class="card">
	        <div class="card-header">
	            <h3 class="card-title">Projects</h3>
	            <div class="card-tools">
	                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
	                    <i class="fas fa-minus"></i>
	                </button>
	                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
	                    <i class="fas fa-times"></i>
	                </button>
	            </div>
	        </div>
	        <div class="card-body">
			    <div class="form-group">
			        <label for="inputName">Project Name</label>
			        <input type="text" id="inputName" class="form-control" value="AdminLTE">
			        <p></p>
			        <input type="submit" value="Save Changes" class="btn btn-success float-right">
			    </div>
			</div>
			<hr>
			<div class="card-body">
			    <div class="form-group">
			        <label for="inputName">Editor</label>
			        <div class="row">
			        	<div class="col-sm-1"></div>
			        	<div class="col-sm-11">
			        		<div class="form-group">
							    <div class="form-check">
							        <input class="form-check-input" type="radio" name="summernote" checked="">
							        <label class="form-check-label">summernote</label>
							    </div>
							    <div class="form-check">
							        <input class="form-check-input" type="radio" disabled="">
							        <label class="form-check-label">markdown</label>
							    </div>
							</div>
			        	</div>
			        </div>
			        <input type="submit" value="Save Changes" class="btn btn-success float-right">
			    </div>
			</div>
			<hr>
			<div class="card-body">
			    <div class="form-group">
			        <label for="inputName">Delete Project</label>
			        <input type="submit" value="Delete" class="btn btn-danger float-right">
			    </div>
			</div>
	    </div>
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
	<th:block th:replace="~{fragments/footer :: footer}"/>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
	
	<th:block th:replace="~{fragments/footer_link :: footer_link}"/>

</body>
</html>