<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cmssettings.model.relationship.DeptProjectDAO">

	<!-- 프로젝트 - 부서 연결 -->
	<insert id="insert" parameterType="DeptProject">
		insert into dept_project(dept_idx, project_idx)
		values(#{dept.deptIdx}, #{project.projectIdx})
	</insert>
		
	<!-- dept_idx로 할당된 project_idx 가져오기 -->
	<select id="selectByDeptIdx" parameterType="int" resultType="Project">
	    SELECT p.*
	    FROM project p
	    JOIN dept_project dp ON p.project_idx = dp.project_idx
	    WHERE dp.dept_idx=#{deptIdx}
  	</select>
  	
  	<!-- dept_idx로 할당되지 않은 나머지 project_idx 가져오기 -->
    <select id="selectOtherByDeptIdx" parameterType="int" resultType="Project">
        SELECT p.*
        FROM project p
        LEFT JOIN dept_project dp ON p.project_idx = dp.project_idx AND dp.dept_idx = #{deptIdx}
        WHERE dp.project_idx IS NULL
    </select>
    
	<!-- 빈(어느 프로젝트도 보유하지 않은) 부서 조회 -->
	<select id="selectEmptyDept" resultType="Dept">
		SELECT *
		FROM dept d
		LEFT JOIN emp e ON d.dept_idx = e.dept_idx
		LEFT JOIN dept_project dp ON d.dept_idx = dp.dept_idx
		WHERE e.emp_idx IS NULL AND dp.project_idx IS NULL;
	</select>
	
	<!-- 어느 부서도 관리하지 않는 프로젝트 조회 -->
	<select id="selectEmptyProject" resultType="Project">
		SELECT *
		FROM project p
		LEFT JOIN dept_project dp ON p.project_idx = dp.project_idx
		WHERE dp.dept_idx IS NULL
	</select>
  	
  	<!-- 부서에서 프로젝트 삭제 -->
  	<delete id="delete" parameterType="DeptProject">
  		delete
  		from dept_project
  		where dept_idx=#{dept.deptIdx} and project_idx=#{project.projectIdx} 
  	</delete>
	
</mapper>